extends ../../../serviceexpectationmodule/expectationofcosts.pug
block title 
    h1 Kosten der Willkommensfeier
block cards
    #willkommensfest-cost-card
        include costs.pug
//- block hint
//-     p * exkl. Fahrtkosten pro km a € 0,80