
extends ../../../serviceexpectationmodule/expectationofday.pug
block content
    h3 Am Tag der Willkommensfeier:
    p - Das Abhalten der geplanten Willkommensfeier und der Willkommensrede.<br>- Die Vollziehung der Rituale.<br>- Die Aushändigung der persönlichen Willkommensurkunde Eures Kindes mit Siegel.
