//serviceexpectation section styles
/*=====================================================
Variables to tweak the style 
=====================================================*/
card-subtitle-bottom-gap = 20px

cost-expecation-card-additional-title-gap = -10px

/*=====================================================
Serious Stuff 
=====================================================*/
#expectation-cost-cards
    padding-top cost-expecation-card-additional-title-gap
    h3
        height auto
        max-width 260px
        margin-bottom card-subtitle-bottom-gap