/*==========================================================
RESET
==========================================================*/
@import '../stylereset/reset.styl'

/*=========================================================
Global Styles
==========================================================*/
@import '../globalstyle/global.styl'

/*=========================================================
Specific Variable Definitions
==========================================================*/
header-color = cd-hellgrau
footer-background = cd-hellgrau

/*=========================================================
All Module Styles
=========================================================*/
@import '../allmodules/allstyles.styl'

/*=========================================================
Specific Style Overwrites
=========================================================*/
#banner-image-row
    background-image: url("/img/home.jpg")
    background-position: bottom !important

/*=========================================================
All Module Styles
=========================================================*/
@import 'components/impressum/styles.styl'