//- footer structure
#footer
    #footer-content.max-content

        #contact-block
            h1 Kontakt
            p.footer-contact-line Mag. Sonja Louven
            p.footer-contact-line Tel: 
                a(href="tel:+4369910701466") +43 699 107 014 66
            p.footer-contact-line E-Mail: 
                a(href="mailto:rede@herzmitseele.at") rede@herzmitseele.at
            #contact-address
                p.footer-address-line Zeillergasse 73/1
                p.footer-address-line A-8020 Graz

        #social-media-block
            #social-media-icons
                a#facebook-icon(href="#facebook")
                a#instagram-icon(href="#instagram")
            #decoration-claim 

        #more-information-block
            h2 Mehr Informationen
            p.information-links
                a#link-1 Bewegende Worte schenken
            p.information-links
                a#link-2 Was ist eine freie Trauung?
            p.information-links
                a#link-3 Wie läuft eine Trauerzeremonie ab?

        #footer-links-block
            p.footer-links.notes
                a#impressum-link(href="/impressum.html") Impressum
                a#datenschutz-link(href="/datenschutz.pdf") Datenschutzerklärung

        #up-button-block
            #up-button

        #copyright-block
            p#copyright-line.notes Copyright 2020
            p#designory-label.notes Webdesign by 
                a(href="https://www.va-designory.at/") Visual Art Designory