//- footer structure
#footer
    #footer-content
        #footer-column-left
            #contact-block
                h1 Kontakt
                p.footer-contact-line Mag. Sonja Louven
                p.footer-contact-line Tel: 
                    a(href="tel:+4369910701466") +43 699 107 014 66
                p.footer-contact-line E-Mail: 
                    a(href="mailto:rede@herzmitseele.at") rede@herzmitseele.at
            #address-block
                p.footer-address-line Zeillergasse 73/1
                p.footer-address-line A-8020 Graz
                 
                
            #footer-links-block
                p.footer-links.notes
                    a#impressum-link(href="/impressum.html") Impressum
                    a#agb-link(href="/agb.html") AGB
                    a#datenschutz-link(href="/datenschutz.html") Datenschutzerklärung

        #footer-column-middle
            #social-media-block
                a#facebook-icon(href="#facebook")
                a#instagram-icon(href="#instagram")
            #claim-block            
            #up-button-block
                #up-button
        #footer-column-right
            #more-information-block
                h2 Mehr Informationen
                p.information-links
                    a#link-1 Bewegende Worte schenken
                p.information-links
                    a#link-2 Was ist eine freie Trauung?
                p.information-links
                    a#link-3 Wie läuft eine Trauerzeremonie ab?
            #copyright-block
                p#copyright-line.notes Copyright 2020
                p#designory-label.notes Webdesign by Visual Art Designory