//- footer structure
#footer
    #footer-content.max-content

        #contact-block
            h1 Kontakt
            p.footer-contact-line Mag. Sonja Louven
            p.footer-contact-line Tel: 
                a(href="tel:+436643282007") +43 664 328 20 07
            p.footer-contact-line E-Mail: 
                a(href="mailto:rede@herzmitseele.at") rede@herzmitseele.at
            #contact-address
                p.footer-address-line Fraungruberstraße 9/2
                p.footer-address-line A-8044 Graz

        #social-media-block
            #social-media-icons
                a#instagram-icon(href="#instagram")
            #decoration-claim 

        #more-information-block
            h2 Mehr Informationen
            p.information-links
                a#link-1 Bewegende Worte schenken
            p.information-links
                a#link-2 Was ist eine freie Trauung?
            p.information-links
                a#link-3 Wie läuft eine Trauerzeremonie ab?

        #footer-links-block
            p.footer-links.notes
                a#impressum-link(href="/impressum.html") Impressum
                a#datenschutz-link(href="/AAB-HerzmitSeele.pdf"  target="_blank") AAB
                a#datenschutz-link(href="/Datenschutzerklärung-HerzmitSeele.pdf"  target="_blank") Datenschutzerklärung
                a#datenschutz-link(href="/Widerrufsbelehrung-HerzmitSeele.pdf"  target="_blank") Widerrufsbelehrung

        #up-button-block
            #up-button
                svg#up-arrow(viewBox='0 0 50 50')
                    polygon(points='48.05 25.84 24.03 0 0 25.84 7.74 33.04 18.75 21.2 18.75 49.92 29.31 49.92 29.31 21.2 40.32 33.04 48.05 25.84')

        #copyright-block
            p#copyright-line.notes Copyright 2020
            p#designory-label.notes Webdesign by 
                a(href="https://www.va-designory.at/") Visual Art Designory