h2 Liebe Angehörige!<br> Der würdevolle und feierliche Abschied ist die Basis für die Bewältigung der Trauer. Eine persönliche Trauerrede verbunden mit einer authentischen Abschiedsfeier kann Euch in schweren Momenten Trost geben.

p.description-line An welchem Ort auch immer ihr den Abschied plant, ich komme zu jeder Zeit, zu jedem von Euch gewünschten Ort und gestalte mit Euch die Trauerfeier. Im Mittelpunkt steht das Leben Eures Herzensmenschen.

p.description-line Nach einem persönlichen Gespräch mit Euch bereite ich eine individuelle und vor allem authentische Trauerrede vor, in der ich ausführlich auf die Lebensgeschichte des Verstorbenen bzw. der Verstorbenen eingehe.

p.description-line Die Trauerfeier wird Euren Wünschen entsprechend gestaltet. Es können Lieder, Gedichte, Rituale oder auch Wortmeldungen Platz finden. Es gibt keine zwingenden Vorgaben und genau das macht eine freie Trauerfeier so einzigartig.

p.description-line Am Tag der Abschiedsnahme halte ich schließlich die mit Euch persönlich geplante Trauerfeier ab.
