extends ../../serviceofferlistingmodule/serviceofferlisting.pug
block listing
    p Ein ausführliches persönliches Gespräch als Vorbereitung für das Verfassen der Trauerrede (gerne plane ich auch mit Euch den Ablauf der Trauerfeier sowie Gedichte, Wünsche und Rituale).
    
    p Die telefonische Beratung und der E-Mail-Verkehr rund um offene Fragen zur Trauerrede oder Trauerfeier.

    p Das Verfassen der Trauerrede.

    p Sofern erwünscht: Die Gestaltung der Trauerfeier, die Vorbereitung von Gedichten, Ritualen oder Wünschen für die Angehörigen.

    p Die Bereitstellung von Mikrofon/Headset und Lautsprecher, sofern dieses Equipment nicht vor Ort sein sollte.
