extends ../../servicedescriptionmodule/servicedescription.pug
block intro-text
    h2#intro-text Wer in unserem Herzen liebevolle Erinnerungen hinterlässt, der kann niemals vergessen werden!
block description
    include description.pug
block side-info
    include side-info.pug
block audio-source
    source(src="/audio/trauerrede.m4a" type="audio/mp4")
block offer-heading 
    h2 Eure Trauerfeier