extends ../../servicedescriptionmodule/servicedescription.pug
block intro-text
    h2#intro-text Ich schreibe eine persönliche Trauerrede, die von allen Facetten Eures geliebten Menschen erzählt und das gelebte Leben in den Fokus stellt.
    
block description
    include description.pug
block side-info
    include side-info.pug
block audio-source
    source(src="/audio/trauerrede.m4a" type="audio/mp4")
block offer-heading 
    h2 Eure Trauerfeier