h2 Dauer der Abschiedsfeier und Trauerrede:
p Eine Trauerfeier dauert in der Regel ca. 30 Minuten. Die Länge der Abschiedsfeier hängt insbesondere davon ab, ob auch Lieder, Rituale oder Wünsche von Gästen/Angehörigen Teil der Zeremonie sein sollen.