doctype html
html(lang="de")
    head
        meta(charset='utf-8')
        title Herzmitseele - Rednerin Eurer Trauerfeier
        meta(name='description', content='Sie suchen eine professionelle Rednerin für eine einfühlsame Trauerrede und eine würdevolle Abschiedszeremonie? Hier sind sie genau richtig! Erfahren Sie mehr über mein Angebot, den Ablauf und die Kosten einer Trauerfeier.')

        //- Open Graph meta Tags
        meta(property='og:title' content='Herzmitseele - Rednerin Eurer Trauerfeier')
        meta(property='og:description' content='Du suchst eine professionelle Rednerin für eine einfühlsame Trauerrede und eine würdevolle Abschiedszeremonie? Hier bist Du genau richtig! Erfahre mehr über mein Angebot, den Ablauf und die Kosten einer Trauerfeier.')

        meta(property='og:type' content='website')
        meta(property='og:image' content='https://herzmitseele.at/img/logo.svg')
        meta(property='og:url' content='https://herzmitseele.at')
        meta(property='og:locale' content='de_DE')

        link(rel='manifest' href='manifest.json')
        //- Icon Stuff
        link(rel="apple-touch-icon", sizes="180x180", href="/apple-touch-icon.png")
        link(rel="icon", type="image/png", sizes="32x32", href="/favicon-32x32.png")
        link(rel="icon", type="image/png", sizes="16x16", href="/favicon-16x16.png")
        link(rel="mask-icon", href="/safari-pinned-tab.svg", color="#5bbad5")
        meta(name="msapplication-TileColor", content="#da532c")
        meta(name="theme-color", content="#ffffff")

        meta(name='viewport', content='width=device-width, initial-scale=1.0')
                
        include styles-include.pug
    body
        include ../../source/trauerfeier/trauerfeierbody.pug
        include scripts-include.pug
