#aboutme.max-content
    #avatar-picture
    #aboutme-text 
        p Meine Leidenschaft gilt dem Schreiben und Vortragen von bewegenden Lebens- und Liebesgeschichten. Diese Geschichten im Rahmen einer persönlichen und ganz nach Ihren Vorstellungen geplanten Feier erzählen zu dürfen, ist das, was ich jeden Tag machen möchte. Die Idee zur Gründung von HERZMITSEELE entstand Anfang 2019. Durch meine hauptberufliche Tätigkeit als Juristin halte ich seit Jahren juristische Vorträge und Seminare ab. In weiterer Folge wurde ich immer häufiger von Freunden und Bekannten gebeten, für ganz unterschiedliche Anlässe Reden zu schreiben. Schnell wurde mir bewusst, wie viel Freude mir das Schreiben individueller und persönlicher Reden bereitet. Das durchweg positive Feedback meiner Zuhörer führte schlussendlich dazu mich als freie Rednerin selbständig zu machen.
        p.self-description-top Sollte ich mich und meine Tätigkeit in einem Satz beschreiben müssen, so würde ich Folgendes antworten:
        p.self-description-quote „Ich bin eine zuverlässige und empathische Person, die mit ganzem Herzen bei der Sache ist.“
        p Falls Sie noch mehr über mich erfahren möchten, schauen Sie bitte auch auf meiner <a href="https://www.instagram.com/herzmitseele.freierede/">Instagram Seite</a> vorbei.