#aboutme
    #avatar-picture
    #aboutme-text 
        p Ich bin ein quirliger und offener Mensch und dennoch liebe ich es in der Ruhe neue Kraft zu tanken.<br>1984 in Deutschland geboren und seit 2006 lebend in Graz, arbeite ich seit über 12 Jahren hauptberuflich als Juristin und kann somit auf jahrelange Vortragserfahrung zurückgreifen. Ich bin sehr kommunikativ und liebe das Gespräch mit Menschen sowie deren Lebens- und Liebesgeschichten. Diese besonderen und spannenden Geschichten im Rahmen einer ganz persönlichen Rede erzählen zu dürfen, ist das, was ich jeden Tag machen möchte.<br> Wenn Sie mich einmal nicht erreichen, dann genieße ich die Zeit mit meiner Familie und meinen Freunden.<br> Gerne bewandere ich die Natur, die Berge und ich liebe das Meer...