//aboutme styles
/*==========================================================
Variables to tweak the style
==========================================================*/
aboutme-spacing = 60px

avatar-picture-width = 300px
avatar-picture-height = 360px
avatar-to-text-gap = 40px

separator-line-width = 3px

min-width-for-row = 750px
general-to-self-description-gap = 30px
/*==========================================================
Serious Stuff
==========================================================*/
max-text-width = max-content-width - avatar-picture-width - avatar-to-text-gap

#aboutme
    display flex
    padding-top aboutme-spacing
    padding-bottom aboutme-spacing
    border-bottom solid separator-line-width cd-hellgrau

    #avatar-picture
        flex-shrink 0
        background-color black
        background-image url("/img/avatar.jpg")
        background-position center
        background-size: cover
        width: avatar-picture-width
        min-height: avatar-picture-height
        margin-right: avatar-to-text-gap
    
    #aboutme-text
        a
            font-weight: bold
        max-width: max-text-width
        p
            @extends .cd-alone-text
            text-align: left
            line-height 170%

        p.self-description-top
            margin-top general-to-self-description-gap
            font-weight: bold
        p.self-description-quote
            font-style: italic
            margin-bottom: general-to-self-description-gap

/*==========================================================
Responsive Stuff
==========================================================*/
@media screen and (max-width: min-width-for-row)
    #aboutme
        flex-direction: column

        #avatar-picture
            margin auto
            margin-bottom avatar-to-text-gap
        #aboutme-text
            margin auto
            p
                text-align center