/*==========================================================
RESET
==========================================================*/
@import '../stylereset/reset.styl'

/*==========================================================
Global Styles
==========================================================*/
@import '../globalstyle/global.styl'

/*==========================================================
Specific Variable Definitions
==========================================================*/
header-color = cd-hellgrau
footer-background = cd-hellgrau

/*==========================================================
All Module Styles
==========================================================*/
@import '../allmodules/allstyles.styl'

/*==========================================================
Specific Style Overwrites
==========================================================*/
#menu-link-ubermich
    font-weight bold

#banner-image-row
    background-image url("/img/ubermich.jpg")
    background-position: bottom !important
/*==========================================================
Component Styles
==========================================================*/
@import 'components/aboutme/styles.styl'