h2 Liebe:r (zukünftige:r) freie:r Redner:in,liebes Hochzeitspaar, liebe Eltern!

p.description-line Ihr oder Du möchtest Dich intensiver mit dem Thema freie Trauungen und/oder Willkommensfeier beschäftigen und bist auf der Suche nach einem Intensivmentoring? Du möchtest (ohne Redner:in zu werden) die freie Trauung oder Willkommensfeier von Freunden vollziehen und weißt noch nicht so Recht wie das geht? Oder bist Du bereits als freie:r Redner:in tätig und benötigst an der einen oder anderen Stelle noch etwas Input? 

p.description-line Dann schaue Dir doch einmal nachstehende Angebote für Onlinementorings mit mir an. Wer weiß, vielleicht ist auch etwas Passendes für Dich dabei.
    svg#foryou-smiley: use(href="#svg-smiley-icon")

