//- serviceactioncall structure
#inspirationcall.inner-content
    p#inspirationcall-call Lass Dich von mir inspirieren und tauche mit mir in die wunderschöne Redner:innenwelt ein!
    p.notes#inspirationcall-signature Sonja Louven

    include ../../appointmentbuttonmodule/appointmentbutton.pug