extends ../../serviceofferlistingmodule/serviceofferlisting.pug
block listing
    
    #angebot-mentoring-just-for-you
        h4 Intensivmentoring „just for you"
        p Eine Beratung zugeschnitten auf Deine individuellen Fragen
        p Wir sprechen intensiv über das was Du brauchst und alle Themen bei denen ich Dich unterstützen kann
        
    #angebot-mentoring-willkommensfeier
        h4 Intensivmentoring für Willkommensfeiern
        p Gestaltung der Vorbereitungsgespräche mit den Eltern 
        p Ablauf & Gestaltung von Willkommensfeiern
        p Inhalt und Aufbau von Willkommenfeiern
        p Tipps und Erfahrungswerte aus erster Hand
        p Zusammenfassendes, schriftliches Handout über alle wesentlichen Inhalte dieses Mentorings 

    #angebot-mentoring-trauung
        h4 Intensivmentoring für freie Trauungen
        p Gestaltung der Gespräche mit Hochzeitspaaren 
        p Inhalt und Aufbau von Traureden
        p Ablauf der freien Trauung 
        p Rituale und Gestaltungsideen bei freien Trauungen
        p Kundenakquise, Social Media		
        p Tipps und Erfahrungswerte aus erster Hand
        p Zusammenfassendes, schriftliches Handout über alle wesentlichen Inhalte dieses Mentorings
