extends ../../servicedescriptionmodule/servicedescription.pug
block intro-text
    h2#intro-text Wenn es sich gut anfühlt, frag Dich nicht, ob Du es tun solltest.<br> <i>Mache es einfach.</i> 
block description
    include description.pug
block side-info
    include side-info.pug
//- block audio-source
//-     source(src="/audio/trauungsrede.m4a" type="audio/mp4")
block offer-heading 
    h1 Dein Mentoring