#mentoring-just-for-you
    h2 Intensivmentoring „just for you"
    p 1ne Beratungsstunde (oder mehr - je nach Bedarf)

#mentoring-willkommensfeier
    h2 Intensivmentoring für Willkommensfeiern
    p 2 intensive Beratungsstunden samt schriftlichem Handout rund um das Thema Kinderwillkommensfeiern.

#mentoring-trauung
    h2 Intensivmentoring für freie Trauungen 
    p 6 intensive Beratungsstunden rund um das Thema freie Trauungen
