body
    include components/header.pug
    include components/welcoming/intro-text.pug
    include components/page-cards/page-cards.pug
    include components/welcoming/outro-text.pug
    include ../appointmentbuttonmodule/appointmentbutton.pug
    include ../footermodule/footer.pug
