/*==============================================================================
RESET
==============================================================================*/
@import '../stylereset/reset.styl'

/*==============================================================================
Including other components
==============================================================================*/
@import '../allmodules/allstyles.styl'

/*==============================================================================
Including other components
==============================================================================*/
// body
//     font-family:
     
#about-link
    color red
    padding 20px
    width 100%