/*==========================================================
RESET
==========================================================*/
@import '../stylereset/reset.styl'

/*=========================================================
Global Styles
=========================================================*/
@import '../globalstyle/global.styl'

/*==========================================================
Specific Variable Definitions
==========================================================*/
header-color = cd-eucalyptusgreen
footer-background = cd-eucalyptusgreen
service-theme-color = cd-eucalyptusgreen
// header-color = cd-winered
// footer-background = cd-winered
// service-theme-color = cd-winered

/*==========================================================
All Module Styles
==========================================================*/
@import '../allmodules/allstyles.styl'

/*==========================================================
Specific Style Overwrites
==========================================================*/    
#menu-link-home
    font-weight: bold
    
#banner-image-row
    background-image: url("/img/home.jpg")

#appointmentbutton
    margin-bottom: 50px

h1.page-quote
    span
        width: fit-content
        opacity 0
// .callmeandmailme
//     a
//         background-color: alpha(cd-winered, 0.05) !important

// #footer
//     span.warning
//         color #7f8f8f !important

// @media screen and (max-width: 430px)
//     h1.page-quote
//         line-break: anywhere

/*==========================================================
Component Styles
==========================================================*/
@import 'components/page-cards/styles.styl'
@import 'components/welcoming/styles.styl'
@import 'components/video/styles.styl'