body
    include components/header.pug
    include components/page-cards/page-cards.pug
    include components/welcoming/welcoming.pug
    include ../appointmentbuttonmodule/appointmentbutton.pug
    include ../footermodule/footer.pug
