include ../svgiconsmodule/svgicons.pug
//- Real Content
include components/header.pug
include components/video/video.pug
include components/welcoming/intro-text.pug
include components/welcoming/outro-text.pug
include ../mailphoneactioncallmodule/callmeandmailme.pug
include components/page-cards/page-cards.pug
include ../appointmentbuttonmodule/appointmentbutton.pug
include ../footermodule/footer.pug
