body
    include components/header.pug
    include components/page-cards.pug
    include components/welcoming.pug
    include ../appointmentbuttonmodule/appointmentbutton.pug
    include ../footermodule/footer.pug
