// appointmentbutton styles
// #appointmentbutton
//     display: block
//     background-image url("/img/termin-button.svg")
//     background-position center
//     background-size contain
//     background-repeat no-repeat
//     height 50px
//     width 100%
//     margin-top 70px
//     margin-bottom: 30px

#appointmentbutton
    display: block
    // background-image url("/img/termin-button.svg")
    width fit-content
    padding: 10px 15px
    border-radius 20px
    margin auto
    background-color service-theme-color
    color #fff
    text-transform: uppercase
    font-weight: bold
    // letter-spacing: 2pt
    text-align: center
    font-size: 11pt
    line-height: 120%