doctype html
html(lang="de")
    head
        meta(charset='utf-8')

        title Herz mit Seele
        meta(name='description', content='Mag. Sonja Louven ist Ihre persönliche Rednerin für Ihren ganz besonderen Anlass. Erfahren Sie hier mehr über mein Angebot.')

        //- Open Graph meta Tags
        meta(property='og:title' content='Herz mit Seele')
        meta(property='og:description' content='Mag. Sonja Louven ist Ihre persönliche Rednerin für Ihren ganz besonderen Anlass. Erfahren Sie hier mehr über mein Angebot.')

        meta(property='og:type' content='website')
        meta(property='og:image' content='https://herzmitseele.at/img/logo.svg')
        meta(property='og:url' content='https://herzmitseele.at')
        meta(property='og:locale' content='de_DE')


        link(rel='manifest' href='manifest.json')
        //- Icon Stuff
        link(rel="apple-touch-icon", sizes="180x180", href="/apple-touch-icon.png")
        link(rel="icon", type="image/png", sizes="32x32", href="/favicon-32x32.png")
        link(rel="icon", type="image/png", sizes="16x16", href="/favicon-16x16.png")
        link(rel="mask-icon", href="/safari-pinned-tab.svg", color="#5bbad5")
        meta(name="msapplication-TileColor", content="#da532c")
        meta(name="theme-color", content="#ffffff")

        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        
        include styles-include.pug
        include scripts-include.pug
    include ../../source/index/indexbody.pug
