// mailphoneactioncall styles
/*==========================================================
Variables to tweak the style
==========================================================*/


/*==========================================================
Serious Stuff
==========================================================*/
#callmeandmailme
    text-align right
    width 100%