// mailphoneactioncall styles
/*==========================================================
Variables to tweak the style
==========================================================*/


/*==========================================================
Serious Stuff
==========================================================*/
.callmeandmailme
    display flex
    gap 20px
    // justify-content: flex-end
    justify-content: center
    color #3d3d66
    flex-wrap: wrap-reverse
    a
        line-height 30px
        padding 5px 15px
        border-radius: 5px
        vertical-align: middle
        background-color #dd91001a
        // box-shadow: 0 0 5px #dd910066
        
        svg
            width 30px
            height 30px
            vertical-align: middle
            margin-right 10px