


/*==========================================================
Global variables and styles
==========================================================*/
max-content-width = 950px
inner-content-width = 750px
/*==========================================================
CD global font styles
==========================================================*/
@font-face 
    font-family: "OpenSans"
    src: url("fonts/OpenSans-Regular.ttf")
@font-face 
    font-family: "OpenSansLight"
    src: url("fonts/OpenSans-Light.ttf")


body
    width 100%
    font-family: 'OpenSans'
    line-height: 150%

/*==========================================================
CD font styles
==========================================================*/
// H1 HEADLINE 17pt Laufweite 200
h1
    font-size: 17pt
    letter-spacing: 3.4pt
    text-transform: uppercase
// H2 Headline 15pt Laufweite 200
h2
    font-size: 15pt
    letter-spacing: 3pt
// H3 Subline 14pt Laufweite 100
h3
    font-family: 'OpenSansLight'
    font-size: 14pt
    letter-spacing: 1.4pt
// Text 12pt Laufweite 0
p
    font-size: 12pt
    letter-spacing: normal
// Notes 7pt Laufweite 100
p.notes
    font-size: 7pt
    letter-spacing: 0.7pt

/*==========================================================
CD color variables
==========================================================*/
cd-hellgrau = #d0d0d0
cd-anthrazit = #575756
cd-sand = #d8cdc3
cd-dust = #ece6e0
cd-bluegrey = #91b6bc
cd-altrosa = #e3a2ab
