#impressum.max-content
    #impressum-content.inner-content 
        p HERZMITSEELE <br>Mag. Sonja Louven <br> 
            a(href="tel:+436643282007") Tel.: +43 664 328 20 07 <br>
            a(href="mailto:rede@herzmitseele.at") E-Mail: rede@herzmitseele.at
        p Fraungruberstraße 9<br>A-8044 Graz
        p Fotocredit:<br> Tina Kališnik-Maggini<br>Claudia Plattner, Träumerherz Fotografie <br>Kamerakinder<br>Daniela Vllant