//- largeactioncall structure
#largeactioncall.inner-content
    p#question Haben Sie ein gutes Gefühl und ich könnte die passende Rednerin für Ihren Anlass sein?
    p#callmecall Dann rufen Sie mich an oder schreiben Sie mir eine E-Mail.<br> Ich melde mich verlässlich bei Ihnen.
include ../appointmentbuttonmodule/appointmentbutton.pug