// largeactioncall styles
/*==========================================================
Variables to tweak the style
==========================================================*/
actioncall-spacing = 60px

question-callmecall-gap = 30px
/*==========================================================
Serious Stuff
==========================================================*/
#largeactioncall
    padding-top actioncall-spacing
    padding-bottom: actioncall-spacing

    #question
        @extends .cd-title
        font-family: "DMSerif"
        font-weight bold
        text-align center
        margin-bottom question-callmecall-gap
        letter-spacing: normal
    #callmecall
        @extends .cd-alone-text
        text-align center
    .notes
        text-align: center
        
    .callmeandmailme
        justify-content: center
        margin-bottom 40px

    #appointmentbutton
        margin-top 40px
        margin-bottom: 60px
