//actioncall styles
/*==========================================================
Variables to tweak the style
==========================================================*/
actioncall-spacing = 60px

question-callmecall-gap = 30px
/*==========================================================
Serious Stuff
==========================================================*/
#actioncall
    margin auto
    padding actioncall-spacing 0
    width 100%
    max-width inner-content-width

    #question
        @extends h2
        font-weight bold
        font-size 15pt
        text-align center
        margin-bottom question-callmecall-gap

    #callmecall
        text-align center
        font-size 14pt