@import '../appointmentbuttonmodule/styles.styl'
@import '../footermodule/styles.styl'
@import '../headermodule/styles.styl'
@import '../largeactioncallmodule/styles.styl'
@import '../mailphoneactioncallmodule/styles.styl'
@import '../serviceactioncallmodule/styles.styl'
@import '../servicedescriptionmodule/styles.styl'
@import '../serviceexpectationmodule/styles.styl'
@import '../serviceofferlistingmodule/styles.styl'
@import '../svgiconsmodule/styles.styl'
