// serviceofferlisting styles
/*==========================================================
Variables to tweak the style
==========================================================*/
service-offer-spacing = 90px
title-listing-gap = 30px

listing-to-decoration-gap = 30px
decoration-top-space = 60px

decoration-element-size = 20px
decoration-image-url = decoration-sun-url
/*==========================================================
Serious Stuff
==========================================================*/
#serviceofferlisting
    margin-top (service-offer-spacing / 2)
    padding-top (service-offer-spacing / 2)
    margin-bottom service-offer-spacing
    
    h3
        @extends h1
        @extends .cd-title
        color service-theme-color
        font-weight bold
        text-align center
        margin-bottom title-listing-gap
        letter-spacing: normal
    h4
        @extends h3
        text-align center
        margin-bottom listing-to-decoration-gap        
    p
        @extends .cd-text
        text-align center
        margin-bottom listing-to-decoration-gap

    h2:not(:first-child)
        position relative
        padding-top: decoration-top-space 
    h2:not(:first-child)::before
        content ""
        position absolute
        top: 0
        left: "calc(50% - %s)" % (decoration-element-size / 2)
        height decoration-element-size
        width decoration-element-size
        background-image decoration-image-url

    p:not(:first-child)
        position relative
        padding-top: decoration-top-space 
    p:not(:first-child)::before
        content ""
        position absolute
        top: 0
        left: "calc(50% - %s)" % (decoration-element-size / 2)
        height decoration-element-size
        width decoration-element-size
        background-image decoration-image-url

    
