/*==========================================================
RESET
==========================================================*/
@import '../stylereset/reset.styl'

/*=========================================================
Global styles
==========================================================*/
@import '../globalstyle/global.styl'

/*==========================================================
Specific Variable Definitions
==========================================================*/
service-theme-color = cd-paleblue
header-color = service-theme-color
footer-background = service-theme-color

decoration-sun-url = url("/img/decoration-sun-mentoring.svg")
/*=========================================================
All Module Styles
=========================================================*/
@import '../allmodules/allstyles.styl'

/*==========================================================
Specific Style Overwrites
==========================================================*/
// here it is very ok to use !important
#menu-link-mentoring
    font-weight bold
    color service-theme-color !important

#banner-image-row
    background-image: url("/img/mentoring.jpg")

audio::-webkit-media-controls-panel
    background-color: service-theme-color

/*=========================================================
Component Styles
=========================================================*/
@import 'components/expectations/styles.styl'

#mentoring-just-for-you
    cursor pointer
    margin-bottom 15px

#mentoring-willkommensfeier
    cursor pointer
    margin-bottom 15px

#mentoring-trauung
    cursor pointer


#audio-presentation
    display none !important



/*==========================================================
Serviceofferlistings
==========================================================*/
#service-listing > * 
    border-top solid 2px service-theme-color
    // border-right solid 2px cd-violett
    // border-bottom solid 2px cd-violett
    border-left solid 2px service-theme-color
    padding-top 30px
    padding-bottom 20px
    // margin-bottom 90px

#service-listing > div:nth-child(2n)
    // border-top solid 2px cd-violett
    border-right solid 2px service-theme-color
    // border-bottom solid 2px cd-violett
    border-left none

/*==========================================================
Inspiration Call
==========================================================*/
#inspirationcall
    margin-top 60px

    #inspirationcall-call
        @extends .cd-title
        text-transform: uppercase
        font-weight: bold
        margin auto
        max-width 500px
        text-align center
        margin-bottom 10px

    #inspirationcall-signature
        text-align center

    #appointmentbutton
        margin-top 60px
        margin-bottom 60px
