h1 Trauerrede
h2 Vorbereitung und Abhaltung<br> der Trauerrede

p DEUTSCH: <br> € 300,- pauschal<br> 

p ENGLISCH/SLOWENISCH: <br> € 400,- pauschal<br> in englischer oder slowenischer Sprache

.cost-duration 20 Minuten

