h1 Trauerzeremonie
h2 Gestaltung der Zeremonie,<br> Vorbereitung und Abhaltung der Trauerrede

p DEUTSCH: <br> € 450,- pauschal<br>

p ENGLISCH/SLOWENISCH: <br> € 550,- pauschal<br> in englischer oder slowenischer Sprache

.cost-duration 30 bis 45 Minuten

