h1 Trauerzeremonie
h2 Gestaltung der Zeremonie,<br> Vorbereitung und Abhaltung der Trauerrede

p DEUTSCH: <br> €450,- (inkl. MwSt)<br> Fahrtkosten bis 50 km - Abfahrt Graz <br> (jeder weitere km/€0,42)

p ENGLISCH/SLOWENISCH: <br> €550,- (inkl. MwSt)<br> Fahrtkosten bis 50 km - Abfahrt Graz <br> (jeder weitere km/€0,42)

.cost-duration 30 bis 45 Minuten

