h1 Trauerrede
h2 Vorbereitung und Abhaltung<br> der Trauerrede

p DEUTSCH: <br> €300,- (inkl. MwSt)<br> Fahrtkosten bis 50 km - Abfahrt Graz <br> (jeder weitere km/€0,42)

p ENGLISCH/SLOWENISCH: <br> €400,- (inkl. MwSt)<br> Fahrtkosten bis 50 km - Abfahrt Graz <br> (jeder weitere km/€0,42)

.cost-duration 20 Minuten

