
extends ../../../serviceexpectationmodule/expectationofday.pug
block content
    h1 Am Tag der Trauerfeier:
    p - Abhalten der geplanten Trauerrede oder (sofern erwünscht) <br> - die Führung und Gestaltung der Trauerzeremonie, das Abhalten der persönlichen Trauerrede sowie die Vollziehung der geplanten Rituale.
