extends ../../../serviceexpectationmodule/expectationofcosts.pug
block cards
    #trauer-cost-option-all
        include cost-option-all.pug
    #trauer-cost-option-speach
        include cost-option-speach.pug
block hint
    p * Fahrtkosten bis 20 km von<br> Graz aus inbegriffen (jeder<br> weitere km/0,42€)