extends ../../../serviceexpectationmodule/expectationofcosts.pug
block cards
    #trauer-cost-option-all
        include cost-option-all.pug
    #trauer-cost-option-speach
        include cost-option-speach.pug
