#page-cards
    a#page-card-trauung.page-card(href="/trauung.html")
        #page-card-trauung-image.page-card-image
        h1#page-card-trauung-title.page-card-title Traurede
    a#page-card-willkommensfest.page-card(href="/willkommensfest.html")
        #page-card-willkommensfest-image.page-card-image
        h1#page-card-willkommensfest-title.page-card-title Taufrede
    a#page-card-trauer.page-card(href="/trauer.html")
        #page-card-trauer-image.page-card-image
        h1#page-card-trauer-title.page-card-title Trauerrede



