#page-cards
    #page-card-trauung.page-card
        #page-card-trauung-image.page-card-image: svg: use(href="#svg-sun-icon")
        h1#page-card-trauung-title.page-card-title Freie Trauung
        p Ich gestalte und vollziehe eine individuelle, exklusive und authentische Zeremonie f체r Euch.<br><br>
        a(href="/freietrauung.html") Details zur freien Trauung

    #page-card-willkommensfest.page-card
        #page-card-willkommensfest-image.page-card-image: svg: use(href="#svg-sun-icon")
        h1#page-card-willkommensfest-title.page-card-title Freie Taufe
        p Wir feiern das Leben Eures kleinen Wunders und ich gestalte f체r Euch ein individuelles, herzliches Kinderwillkommensfest.<br><br>
        a(href="/willkommensfeier.html") Details zur Willkommensfeier

    #page-card-trauer.page-card
        #page-card-trauer-image.page-card-image: svg: use(href="#svg-sun-icon")
        h1#page-card-trauer-title.page-card-title Trauerfeier
        p Wir feiern das Leben Eures geliebten Menschen im Rahmen einer authentischen und aus dem Leben erz채hlenden Trauerfeier.<br><br>
        a(href="/trauerfeier.html") Details zur Trauerfeier

    #page-card-mentoring.page-card
        #page-card-mentoring-image.page-card-image: svg: use(href="#svg-sun-icon")
        h1#page-card-mentoring-title.page-card-title Mentoring
        p Ich coache Dich ganz individuell je nach Deinen Bed체rfnissen zum Thema freie Trauung, Willkommensfeier und freie Trauerfeier.<br><br>
        a(href="/mentoring.html") Details zum Mentoring



