// page-cards styles
/*=====================================================
Variables to tweak the style 
=====================================================*/
page-cards-spacing-top = 70px
page-cards-spacing-bottom = 60px

page-card-width = 250px
page-card-outer-frame-padding = 30px 10px 20px 10px
page-card-title-padding = 10px
page-card-image-height = 60px

page-card-gap = 50px

card-background-color = cd-hellgrau

/*=====================================================
Elements to maybe tweak 
=====================================================*/
#page-card-willkommensfest-image
#page-card-willkommensfest-title
    color cd-sand
#page-card-trauung-image
#page-card-trauung-title
    color cd-altrosa
#page-card-trauer-image
#page-card-trauer-title
    color cd-hellgrau
#page-card-mentoring-image
#page-card-mentoring-title
    color cd-paleblue

/*=====================================================
The Serious Stuff
=====================================================*/
page-card-content-width = (page-card-width - (20px))
page-card-image-width = page-card-content-width
page-card-title-width = (page-card-content-width - (2 * page-card-title-padding))

#page-cards
    @extends .inner-content
    display: flex
    justify-content: space-around
    flex-wrap: wrap
    margin-top: page-cards-spacing-top
    margin-bottom: page-cards-spacing-bottom
    gap 10px

        
    .page-card
        padding page-card-outer-frame-padding
        width: page-card-content-width
        margin-bottom page-card-gap
        box-shadow 0 0 5px alpha(black, 0.2)
        border-radius 5px
    
        h1
            // text-shadow: 1px 1px 2px  black
            margin-bottom 12px        

    .page-card:hover
        background-color alpha(grey, 0.05)

    .page-card-image
        width: page-card-image-width
        height: page-card-image-height
        background-size contain
        background-repeat no-repeat
        background-position: center
        margin auto
        margin-bottom page-card-outer-frame-padding
        svg
            height inherit
            width inherit
    .page-card-title
        @extends .cd-title
        font-weight: bold
        padding page-card-title-padding
        text-align: center
        width page-card-title-width
    p
        text-align center

    a
        display block
        text-align center
        font-weight: bold
        text-decoration: underline