// page-cards styles
/*=====================================================
Variables to tweak the style 
=====================================================*/
page-cards-spacing-top = 100px
page-cards-spacing-bottom = 60px

page-card-width = 200px
page-card-outer-frame-padding = 10px
page-card-title-padding = 10px
page-card-image-height = 60px

page-card-gap = 30px

card-background-color = cd-hellgrau

/*=====================================================
Elements to maybe tweak 
=====================================================*/
#page-card-willkommensfest-title
    color cd-sand
#page-card-trauung-title
    color cd-altrosa
#page-card-trauer-title
    color cd-bluegrey


#page-card-trauung-image
    background-image: url("/img/decoration-sun-rose.svg")
#page-card-willkommensfest-image
    background-image: url("/img/decoration-sun-sand.svg")
#page-card-trauer-image
    background-image: url("/img/decoration-sun-blue.svg")

/*=====================================================
The Serious Stuff
=====================================================*/
page-card-content-width = (page-card-width - (2 * page-card-outer-frame-padding))
page-card-image-width = page-card-content-width
page-card-title-width = (page-card-content-width - (2 * page-card-title-padding))

#page-cards
    @extends .inner-content
    display: flex
    justify-content: space-around
    flex-wrap: wrap
    margin-top: page-cards-spacing-top
    margin-bottom: page-cards-spacing-bottom

    .page-card
        padding page-card-outer-frame-padding
        width: page-card-content-width
        margin-bottom page-card-gap

    .page-card-image
        width: page-card-image-width
        height: page-card-image-height
        background-size contain
        background-repeat no-repeat
        background-position: center
        margin auto
        margin-bottom page-card-outer-frame-padding

    .page-card-title
        @extends .cd-title
        font-weight: bold
        padding page-card-title-padding
        text-align: center
        width page-card-title-width
