//- serviceofferlisting structure
.inner-content
    #expectationofcost
        block title
        #expectation-cost-cards
            block cards
        //- #expectation-cost-hint
        //-     p * exkl. Fahrtkosten pro km a € 0,80
        //-     p * gemäß § 6 Abs 1 Z 27 UStG umsatzsteuerbefreit, da die Kleinunternehmerregelung gilt.