//- serviceofferlisting structure
.inner-content
    #expectationofcost
        h1 Meine Kosten
        #expectation-cost-cards
            block cards
        #expectation-cost-hint
            block hint