
.gallery-image(data-src="img/impressionen/031_derschindler_cc4_66.jpg" data-sub-html="<h4>Photo von - <a href='https://www.derschindler.at/' target='_blank'>derschindler</a></h4>")
    img(src="img/impressionen/031_derschindler_cc4_thumb66.jpg")
.gallery-image(data-src="img/impressionen/034_verfilmt_cc4_66.jpg" data-sub-html="<h4>Photo von - <a href='https://www.verfilmt.at/' target='_blank'>verfilmt</a></h4>")
    img(src="img/impressionen/034_verfilmt_cc4_thumb66.jpg")
.gallery-image(data-src="img/impressionen/008_verfilmt_cc4_66.jpg" data-sub-html="<h4>Photo von - <a href='https://www.verfilmt.at/' target='_blank'>verfilmt</a></h4>")
    img(src="img/impressionen/008_verfilmt_cc4_thumb66.jpg")
.gallery-image(data-src="img/impressionen/037_biancaundlukas_cc4_66.jpg" data-sub-html="<h4>Photo von - <a href='https://www.biancaandlukas.com/' target='_blank'>biancaundlukas</a></h4>")
    img(src="img/impressionen/037_biancaundlukas_cc4_thumb66.jpg")
.gallery-image(data-src="img/impressionen/045_Monika_Wittmann_cc4_66.jpg" data-sub-html="<h4>Photo von - <a href='https://www.monikawittmann.at/' target='_blank'>Monika Wittmann</a></h4>")
    img(src="img/impressionen/045_Monika_Wittmann_cc4_thumb66.jpg")
.gallery-image(data-src="img/impressionen/014_alexandradogar_cc4_66.jpg" data-sub-html="<h4>Photo von - <a href='https://alexandradogar.com/' target='_blank'>alexandradogar</a></h4>")
    img(src="img/impressionen/014_alexandradogar_cc4_thumb66.jpg")
.gallery-image(data-src="img/impressionen/018_Daniela_Vallant_cc4_66.jpg" data-sub-html="<h4>Photo von - <a href='https://danielavallant-fotografie.com/' target='_blank'>Daniela Vallant</a></h4>")
    img(src="img/impressionen/018_Daniela_Vallant_cc4_thumb66.jpg")
.gallery-image(data-src="img/impressionen/013_Dominik_Stoppacher_cc4_66.jpg" data-sub-html="<h4>Photo von - <a href='https://www.fotografie-dst.at/' target='_blank'>Dominik Stoppacher</a></h4>")
    img(src="img/impressionen/013_Dominik_Stoppacher_cc4_thumb66.jpg")
.gallery-image(data-src="img/impressionen/040_Kamerakinder_cc4_66.jpg" data-sub-html="<h4>Photo von - <a href='https://www.kamerakinderweddings.com/' target='_blank'>Kamerakinder</a></h4>")
    img(src="img/impressionen/040_Kamerakinder_cc4_thumb66.jpg")
.gallery-image(data-src="img/impressionen/033_verfilmt_cc4_66.jpg" data-sub-html="<h4>Photo von - <a href='https://www.verfilmt.at/' target='_blank'>verfilmt</a></h4>")
    img(src="img/impressionen/033_verfilmt_cc4_thumb66.jpg")
.gallery-image(data-src="img/impressionen/007_Prontolux_Weddings_cc4_66.jpg" data-sub-html="<h4>Photo von - <a href='https://prontolux.at/' target='_blank'>Prontolux Weddings</a></h4>")
    img(src="img/impressionen/007_Prontolux_Weddings_cc4_thumb66.jpg")
.gallery-image(data-src="img/impressionen/029_Monika_Wittmann_cc4_66.jpg" data-sub-html="<h4>Photo von - <a href='https://www.monikawittmann.at/' target='_blank'>Monika Wittmann</a></h4>")
    img(src="img/impressionen/029_Monika_Wittmann_cc4_thumb66.jpg")
.gallery-image(data-src="img/impressionen/041_verfilmt_cc4_66.jpg" data-sub-html="<h4>Photo von - <a href='https://verfilmt.at/' target='_blank'>verfilmt</a></h4>")
    img(src="img/impressionen/041_verfilmt_cc4_thumb66.jpg")
.gallery-image(data-src="img/impressionen/017_eingerahmt_cc4_66.jpg" data-sub-html="<h4>Photo von - <a href='https://www.eingerahmt.com/' target='_blank'>eingerahmt</a></h4>")
    img(src="img/impressionen/017_eingerahmt_cc4_thumb66.jpg")
.gallery-image(data-src="img/impressionen/047_verfilmt_cc4_66.jpg" data-sub-html="<h4>Photo von - <a href='https://verfilmt.at/' target='_blank'>verfilmt</a></h4>")
    img(src="img/impressionen/047_verfilmt_cc4_thumb66.jpg")
.gallery-image(data-src="img/impressionen/025_Monika_Wittmann_cc4_66.jpg" data-sub-html="<h4>Photo von - <a href='https://www.monikawittmann.at/' target='_blank'>Monika Wittmann</a></h4>")
    img(src="img/impressionen/025_Monika_Wittmann_cc4_thumb66.jpg")
.gallery-image(data-src="img/impressionen/005_Daniela_Vallant_cc4_66.jpg" data-sub-html="<h4>Photo von - <a href='https://danielavallant-fotografie.com/' target='_blank'>Daniela Vallant</a></h4>")
    img(src="img/impressionen/005_Daniela_Vallant_cc4_thumb66.jpg")
.gallery-image(data-src="img/impressionen/042_verfilmt_cc4_66.jpg" data-sub-html="<h4>Photo von - <a href='https://verfilmt.at' target='_blank'>verfilmt</a></h4>")
    img(src="img/impressionen/042_verfilmt_cc4_thumb66.jpg")
.gallery-image(data-src="img/impressionen/009_verfilmt_cc4_66.jpg" data-sub-html="<h4>Photo von - <a href='https://www.verfilmt.at/' target='_blank'>verfilmt</a></h4>")
    img(src="img/impressionen/009_verfilmt_cc4_thumb66.jpg")
.gallery-image(data-src="img/impressionen/004_verfilmt_cc4_66.jpg" data-sub-html="<h4>Photo von - <a href='https://www.verfilmt.at/' target='_blank'>verfilmt</a></h4>")
    img(src="img/impressionen/004_verfilmt_cc4_thumb66.jpg")
.gallery-image(data-src="img/impressionen/012_everlypictures_cc4_66.jpg" data-sub-html="<h4>Photo von - <a href='https://www.everlypictures.com/' target='_blank'>everlypictures</a></h4>")
    img(src="img/impressionen/012_everlypictures_cc4_thumb66.jpg")
.gallery-image(data-src="img/impressionen/030_Erich_Satran_cc4_66.jpg" data-sub-html="<h4>Photo von - Erich Satran</h4>")
    img(src="img/impressionen/030_Erich_Satran_cc4_thumb66.jpg")
.gallery-image(data-src="img/impressionen/022_thecretas_cc4_66.jpg" data-sub-html="<h4>Photo von - <a href='https://www.thecretas.com/' target='_blank'>thecretas</a></h4>")
    img(src="img/impressionen/022_thecretas_cc4_thumb66.jpg")
.gallery-image(data-src="img/impressionen/010_mh.fotografie_cc4_66.jpg" data-sub-html="<h4>Photo von - <a href='' target='_blank'>mh.fotografie</a></h4>")
    img(src="img/impressionen/010_mh.fotografie_cc4_thumb66.jpg")
.gallery-image(data-src="img/impressionen/026_Prontolux_Weddings_cc4_66.jpg" data-sub-html="<h4>Photo von - <a href='https://prontolux.at/' target='_blank'>Prontolux Weddings</a></h4>")
    img(src="img/impressionen/026_Prontolux_Weddings_cc4_thumb66.jpg")
.gallery-image(data-src="img/impressionen/020_eingerahmt_cc4_66.jpg" data-sub-html="<h4>Photo von - <a href='https://www.eingerahmt.com/' target='_blank'>eingerahmt</a></h4>")
    img(src="img/impressionen/020_eingerahmt_cc4_thumb66.jpg")
.gallery-image(data-src="img/impressionen/002_michaelalorber_cc4_66.jpg" data-sub-html="<h4>Photo von - <a href='https://www.instagram.com/michaelalorber.at/?hl=de' target='_blank'>michaelalorber</a></h4>")
    img(src="img/impressionen/002_michaelalorber_cc4_thumb66.jpg")
.gallery-image(data-src="img/impressionen/015_Träumerherz_Fotographie_cc4_66.jpg" data-sub-html="<h4>Photo von - <a href='' target='_blank'>Träumerherz Fotographie</a></h4>")
    img(src="img/impressionen/015_Träumerherz_Fotographie_cc4_thumb66.jpg")
.gallery-image(data-src="img/impressionen/044_verfilmt_cc4_66.jpg" data-sub-html="<h4>Photo von - <a href='https://verfilmt.at/' target='_blank'>verfilmt</a></h4>")
    img(src="img/impressionen/044_verfilmt_cc4_thumb66.jpg")
.gallery-image(data-src="img/impressionen/043_verfilmt_cc4_66.jpg" data-sub-html="<h4>Photo von - <a href='https://verfilmt.at/' target='_blank'>verfilmt</a></h4>")
    img(src="img/impressionen/043_verfilmt_cc4_thumb66.jpg")
.gallery-image(data-src="img/impressionen/027_Träumerherzfotografie_cc4_66.jpg" data-sub-html="<h4>Photo von - <a href='' target='_blank'>Träumerherzfotografie</a></h4>")
    img(src="img/impressionen/027_Träumerherzfotografie_cc4_thumb66.jpg")
.gallery-image(data-src="img/impressionen/035_Träumerherz_Fotografie_cc4_66.jpg" data-sub-html="<h4>Photo von - <a href='https://www.traeumerherz-fotografie.at/' target='_blank'>Träumerherz Fotografie</a></h4>")
    img(src="img/impressionen/035_Träumerherz_Fotografie_cc4_thumb66.jpg")
.gallery-image(data-src="img/impressionen/016_Daniela_Vallant_cc4_66.jpg" data-sub-html="<h4>Photo von - <a href='https://danielavallant-fotografie.com/' target='_blank'>Daniela Vallant</a></h4>")
    img(src="img/impressionen/016_Daniela_Vallant_cc4_thumb66.jpg")
.gallery-image(data-src="img/impressionen/028_Monika_Wittmann_cc4_66.jpg" data-sub-html="<h4>Photo von - <a href='https://www.monikawittmann.at/' target='_blank'>Monika Wittmann</a></h4>")
    img(src="img/impressionen/028_Monika_Wittmann_cc4_thumb66.jpg")
.gallery-image(data-src="img/impressionen/036_Sophie_Häusler_cc4_66.jpg" data-sub-html="<h4>Photo von - <a href='https://www.sophiehaeusler.com/' target='_blank'>Sophie Häusler</a></h4>")
    img(src="img/impressionen/036_Sophie_Häusler_cc4_thumb66.jpg")
.gallery-image(data-src="img/impressionen/001_eingerahmt_cc4_66.jpg" data-sub-html="<h4>Photo von - <a href='https://www.eingerahmt.com/' target='_blank'>eingerahmt</a></h4>")
    img(src="img/impressionen/001_eingerahmt_cc4_thumb66.jpg")
.gallery-image(data-src="img/impressionen/021_thecretas_cc4_66.jpg" data-sub-html="<h4>Photo von - <a href='https://www.thecretas.com/' target='_blank'>thecretas</a></h4>")
    img(src="img/impressionen/021_thecretas_cc4_thumb66.jpg")
.gallery-image(data-src="img/impressionen/038_biancaundlukas_cc4_66.jpg" data-sub-html="<h4>Photo von - <a href='https://www.biancaandlukas.com/' target='_blank'>biancaundlukas</a></h4>")
    img(src="img/impressionen/038_biancaundlukas_cc4_thumb66.jpg")
.gallery-image(data-src="img/impressionen/023_Tessa_Viktoria_Kutsam_cc4_66.jpg" data-sub-html="<h4>Photo von - <a href='' target='_blank'>Tessa Viktoria Kutsam</a></h4>")
    img(src="img/impressionen/023_Tessa_Viktoria_Kutsam_cc4_thumb66.jpg")    
.gallery-image(data-src="img/impressionen/032_michaelalorber_cc4_66.jpg" data-sub-html="<h4>Photo von - <a href='https://www.instagram.com/michaelalorber.at/?hl=de' target='_blank'>michaelalorber</a></h4>")
    img(src="img/impressionen/032_michaelalorber_cc4_thumb66.jpg")
.gallery-image(data-src="img/impressionen/024_dancing.on.clouds.fotografie_cc4_66.jpg" data-sub-html="<h4>Photo von - <a href='https://dancing-on-clouds.at/' target='_blank'>dancing.on.clouds.fotografie</a></h4>")
    img(src="img/impressionen/024_dancing.on.clouds.fotografie_cc4_thumb66.jpg")
.gallery-image(data-src="img/impressionen/006_verfilmt_cc4_66.jpg" data-sub-html="<h4>Photo von - <a href='https://www.verfilmt.at/' target='_blank'>verfilmt</a></h4>")
    img(src="img/impressionen/006_verfilmt_cc4_thumb66.jpg")
.gallery-image(data-src="img/impressionen/011_Prontolux_Weddings_cc4_66.jpg" data-sub-html="<h4>Photo von - <a href='https://prontolux.at/' target='_blank'>Prontolux Weddings</a></h4>")
    img(src="img/impressionen/011_Prontolux_Weddings_cc4_thumb66.jpg")
.gallery-image(data-src="img/impressionen/039_Träumerherz_Fotografie_cc4_66.jpg" data-sub-html="<h4>Photo von - <a href='https://www.traeumerherz-fotografie.at/' target='_blank'>Träumerherz Fotografie</a></h4>")
    img(src="img/impressionen/039_Träumerherz_Fotografie_cc4_thumb66.jpg")
.gallery-image(data-src="img/impressionen/046_verfilmt_cc4_66.jpg" data-sub-html="<h4>Photo von - <a href='https://verfilmt.at/' target='_blank'>verfilmt</a></h4>")
    img(src="img/impressionen/046_verfilmt_cc4_thumb66.jpg")