#impressionen-intro.max-content 
    p Jede freie Trauung  & jedes Willkommensfest wird individuell und exklusiv für Euch gestaltet.<br>Seht nachfolgend ein paar unvergessliche Momente mit meinen Paaren & Familien aus den vergangenen Jahren.
    p Unter meinen <a href="https://g.co/kgs/s5vmvsg" target="_blank">Google-Rezensionen</a>  könnt ihr noch mehr über mich und meine Tätigkeit erfahren und nachlesen, was meine Paare & Kunden über ihre Erfahrungen mit HERZMITSEELE erzählen. 

    p Weitere Fotos und Videoausschnitte findet ihr auch aufmeinem <a href="https://www.instagram.com/herzmitseele.freierede/" target="_blank">Instagramkanal</a>.