h2 Liebe Angehörige!<br> Der würdevolle und feierliche Abschied ist die Basis für die Bewältigung der Trauer. Eine berührende und persönliche Trauerrede kann Euch Ruhe und Trost geben.

p.description-line An welchem Ort auch immer ihr den Abschied und/oder die Bestattung plant, ich komme zu jeder Zeit, zu jedem von Euch gewünschten Ort und gestalte mit Euch auf Wunsch auch die Trauerfeier.

p.description-line Nach einem ausführlichen Gespräch bereite ich für Euch eine besondere und vor allem persönliche Trauerrede vor, in der ich ausführlich auf die Lebensgeschichte des Verstorbenen bzw. der Verstorbenen eingehe.

p.description-line Sollte ich die richtige Rednerin für Euch sein, so wäre nach unserem persönlichen Gespräch mein nächster Schritt das Erstellen der Trauerrede und (optional) die Planung der Trauerfeier.

p.description-line Am Tag der Trauerfeier halte ich die mit dir persönlich geplante Trauerfeier (inkl. Trauerrede, Rituale, Wünsche der Angehörigen) oder nur die Trauerrede ab.
