h2 Der würdevolle und feierliche Abschied ist die Basis für die Bewältigung der Trauer. Eine berührende und persönliche Trauerrede kann den Angehörigen Ruhe und Trost geben.

p.description-line An welchem Ort auch immer Sie den Abschied und/oder die Bestattung planen, ich komme zu jeder Zeit, zu jedem von Ihnen gewünschten Ort und gestalte mit Ihnen auf Wunsch auch die Trauerzeremonie.

p.description-line Nach einem ausführlichen Gespräch bereite ich für Sie eine besondere und vor allem persönliche Trauerrede vor, in der ich ausführlich auf die Lebensgeschichte des Verstorbenen bzw. der Verstorbenen eingehe.

p.description-line Sollten Sie sich für mich als Ihre Trauerrednerin entscheiden, so wäre nach unserem persönlichen Gespräch mein nächster Schritt das Erstellen der Trauerrede und (optional) die Planung der Trauerzeremonie. Ich werde Ihnen den Entwurf der Trauerrede und den gemeinsam geplanten Ablauf der Trauerzeremonie übermitteln und Sie erhalten die Möglichkeit Änderungswünsche bekanntzugeben.

p.description-line Am Tag der Trauerfeier halte ich die mit Ihnen persönlich geplante Trauerzeremonie (inkl. Trauerrede, Rituale, Wünsche der Angehörigen) oder nur die Trauerrede ab.
