extends ../../serviceofferlistingmodule/serviceofferlisting.pug
block listing
    p Ein ausführliches persönliches Gespräch mit den  ngehörigen als Vorbereitung für das Verfassen der Trauerrede (gerne plane ich auch mit Ihnen den Ablauf der Trauerzeremonie sowie Gedichte, Wünsche und Rituale).
    
    p Telefonische Beratung und Emailverkehr rund um offene Fragen zur Trauerrede oder Trauerzeremonie.

    p Das Verfassen der Trauerrede.

    p Sofern erwünscht: Die Gestaltung der Trauerzeremonie, die Vorbereitung von Gedichten, Ritualen oder Wünschen für die Angehörigen.

    p Mitnahme von Mikrophon und Lautsprecher, sofern dieses Equipment nicht vor Ort sein sollte.
