extends ../../servicedescriptionmodule/servicedescription.pug
block intro-text
    h2#intro-text Wer in unserem Herzen liebevolle Erinnerungen hinterlässt und unsere Seelen berührt, der kann niemals vergessen werden!
block description
    include description.pug
block side-info
    include side-info.pug
