h2 Dauer der Trauerzeremonie und Trauerrede:
p Eine Trauerzeremonie dauert in der Regel zwischen 30 bis 45 Minuten. Meine Trauerrede wird davon ca. 20 min in Anspruch nehmen. Die Länge der Feier hängt insbesondere davon ab, ob auch Lieder, Rituale oder Wünsche von Angehörigen Teil der Trauerfeier sein sollen.