h2 Dauer der Trauerzeremonie und Trauerrede:
p Eine Trauerfeier dauert in der Regel ca. 40 Minuten. Meine Trauerrede wird davon ca. 20 min in Anspruch nehmen. Die Länge der Feier hängt insbesondere davon ab, ob auch Lieder, Rituale oder Wünsche von Gästen/Angehörigen Teil der Trauerfeier sein sollen.