//- serviceactioncall structure
#serviceactioncall.inner-content
    p#serviceactioncall-call Ich freue mich auf ihre Kontaktaufnahme!
    p.notes#serviceactioncall-signature Mag. Sonja Louven

    include ../appointmentbuttonmodule/appointmentbutton.pug