// serviceactioncall styles
/*==========================================================
Variables to tweak the style
==========================================================*/
serviceactioncall-spacing = 60px
serviceactioncall-max-width = 500px

call-to-signature-gap = 10px

appointmentbutton-to-footer-gap = 60px

/*==========================================================
Serious Stuff
==========================================================*/
#serviceactioncall
    margin-top serviceactioncall-spacing

    #serviceactioncall-call
        @extends .cd-title
        text-transform: uppercase
        font-weight: bold
        margin auto
        max-width serviceactioncall-max-width
        text-align center
        margin-bottom call-to-signature-gap

    #serviceactioncall-signature
        text-align center

    #appointmentbutton
        margin-top serviceactioncall-spacing
        margin-bottom: appointmentbutton-to-footer-gap
