//- header structure
#header 
    #logo-frame-row
    #menu-row
        #menu.max-content
            a#menu-link-home.menu-link(href="/") Home
            a#menu-link-ubermich.menu-link(href="/ubermich.html") Über mich
            a#menu-link-trauung.menu-link(href="/freietrauung.html") Freie Trauung 
            a#menu-link-willkommensfest.menu-link(href="/willkommensfeier.html") Willkommensfeier
            a#menu-link-trauer.menu-link(href="/trauerfeier.html") Trauerfeier
            a#menu-link-mentoring.menu-link(href="/mentoring.html") Mentoring
            a#menu-link-kontakt.menu-link(href="#kontakt") Kontakt
            #burger
    #banner-image-row
    #page-quote-row
        .inner-content
            block page-quote
            block page-quite-signature