// header styles
logo-size = 180px
logo-top-spacing = 20px
logo-to-menu-gap = 10px
menu-to-banner-gap = 20px

page-quote-row-padding-top = 30px
page-quote-row-padding-bottom = 20px
page-quote-to-signature-gap = 20px
burger-size = 30px

minimal-menu-width = 800px

#header
    background-color white

#logo-frame-row
    background-image url("/img/logo.svg")
    height logo-size
    width logo-size
    background-size contain
    background-repeat no-repeat
    background-position center
    margin auto
    margin-top logo-top-spacing
    margin-bottom logo-to-menu-gap - 20px

#menu
    display: grid
    // align-items: center
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr
    margin-bottom menu-to-banner-gap - 7px
    #burger
        display: none
        // background-image: url(/img/burger-icon.svg)
        width: burger-size
        height: burger-size
        svg
            width: burger-size
            height: burger-size


    .menu-link
        // display block
        text-transform: uppercase
        font-size: 14pt
        text-align: center
        padding 7px 0
        padding-top 20px
        align-self center
        justify-self: center
        // color #909090

#menu-services
    position relative
    cursor: pointer
    text-align: center
    justify-self: center
    align-self: center
    width 100%
    padding 7px 0
    padding-top 20px

#menu-services.active
    background #fbfbfb
    #menu-link-services
        font-weight: bold
        color #3339

    .submenu-frame
        opacity 1
        z-index 1
        pointer-events: all
        
.submenu-frame
    position absolute
    left 0
    top 45px
    width 100%
    box-sizing: border-box
    padding 20px

    display flex
    flex-direction: column

    transition: opacity 0.3s
    opacity 0
    z-index -1
    pointer-events: none

    border-radius 0 0 3px 3px
    background #fbfbfb
    .menu-link
        width fit-content

#banner-image-row
    height 440px
    width 100%
    background-color black
    background-position center
    background-size cover
    // filter: blur(1px)

#page-quote-row
        padding 0
        background-color header-color
        width 100%
        padding-top page-quote-row-padding-top
        padding-bottom page-quote-row-padding-bottom
        
        h1.page-quote
            color white
            text-align: center
            margin-bottom page-quote-to-signature-gap
        .page-quote-signature
            color white
            text-align center
            width 100%

@media screen and (max-width: minimal-menu-width)
    #menu
        grid-template-columns: 1fr
        .menu-link
        #menu-services
            padding-top 10px

        // .submenu-frame

    #menu.collapsed
        #menu-services
        .menu-link
            display: none            
        #burger
            display inline-block
            text-align center
            margin auto


@media (hover: hover)
    #menu
        #menu-services:hover
            background #fbfbfb
            #menu-link-services
                font-weight: bold
                color #3339

            .submenu-frame
                opacity 1
                z-index 1
                pointer-events: all
