h1 Willkommensrede
h2 Für die oben angeführten Leistungen

p DEUTSCH: <br> €480,- (inkl. MwSt)<br> Fahrtkosten bis 50 km - Abfahrt Graz <br> (jeder weitere km/€0,42)

p ENGLISCH/SLOWENISCH: <br> €580,- (inkl. MwSt)<br> Fahrtkosten bis 50 km - Abfahrt Graz <br> (jeder weitere km/€0,42)

.cost-duration ca. 30 Minuten

