h1 Willkommensrede
h2 Für die oben angeführten Leistungen

p DEUTSCH: <br> €480,- pauschal<br> (gemäß § 6 Abs 1 Z 27 UStG<br> umsatzsteuerbefreit, da die<br> Kleinunternehmerregelung gilt).

p ENGLISCH/SLOWENISCH: <br> €580,- pauschal<br>Sollten Sie eine freie Trauung in<br> englischer oder slowenischer Sprache<br> wünschen.

.cost-duration ca. 30 Minuten

