extends ../../../serviceexpectationmodule/expectationofcosts.pug
block cards
    #willkommensfest-cost-card
        include costs.pug
block hint
    p * Fahrtkosten bis 50 km von<br> Graz aus inbegriffen (jeder<br> weitere km/0,42€)