
extends ../../../serviceexpectationmodule/expectationofday.pug
block content
    h1 Am Tag der freien Taufe:
    p - Das Abhalten der geplanten Willkommensfeier und der Willkommensrede.<br>- Die Vollziehung der Rituale.<br>- Die Aushändigung der persönlichen Willkommensurkunde Eures Kindes mit Siegel.
