h2 Liebe Eltern!<br> Ihr habt Nachwuchs bekommen und möchtet Eurem Kind die Entscheidung über die Religions- und Kirchenzugehörigkeit nicht vorwegnehmen? Ihr plant eine persönliche Zeremonie im Rahmen einer Willkommensfeier und sucht dafür noch die passende, freie Rednerin? 

p.description-line Das freut mich, denn ihr seid hier genau richtig!

p.description-line Ich erstelle nicht nur eine individuelle und persönliche Willkommensrede für Euren kleinen Schatz, ich gestalte auch mit Euch gemeinsam die Willkommensfeier Eures Kindes.

p.description-line Ob unter freiem Himmel, bei Euch daheim, oder an einem anderen für Euch besonderen Ort, ich komme zu jeder Zeit an jeden von Euch gewünschten Ort und freue mich Teil Eurer besonderen Zeremonie zu sein.

p.description-line In einem kostenlosen und für Euch unverbindlichen Online-Erstgespräch können wir uns in erster Linie persönlich kennenlernen. In diesem Rahmen stelle ich Euch auch gerne die Gestaltungsmöglichkeiten einer Kinderwillkommensfeier vor. Sollte ich die richtige Rednerin für Euch sein, so wäre nach einem ausführlichen zweiten Gespräch (optional kann auch ein persönlicher Fragebogen ausgefüllt und mir die Antworten per Email übermittelt werden) mein nächster Schritt das Erstellen des Ablaufs der Willkommensfeier und der persönlichen Rede.

p.description-line Am Tag der Feierlichkeit halte ich die mit Euch persönlich geplante Willkommensfeier (inkl. Rede, Rituale, Wünsche der Gäste) ab. Als Andenken an diesen besonderen Anlass überreiche ich Euch eine individuelle, handgeschöpfte Willkommensurkunde.