extends ../../servicedescriptionmodule/servicedescription.pug
block intro-text
    h2#intro-text Lasst uns Euer Kind feiern und gebührend im Leben Willkommen heißen!
block description
    include description.pug
block side-info
    include side-info.pug
block audio-source
    source(src="/audio/willkommensrede.m4a" type="audio/mp4")
block offer-heading 
    h2 Eure Willkommensfeier