include ../svgiconsmodule/svgicons.pug
//- Real Content
include components/header.pug
include components/intro.pug
include components/grid.pug
include ../largeactioncallmodule/largeactioncall.pug
include ../footermodule/footer.pug