/*==========================================================
RESET
==========================================================*/
@import '../stylereset/reset.styl'

/*==========================================================
Global Styles
==========================================================*/
@import '../globalstyle/global.styl'

/*==========================================================
Specific Variable Definitions
==========================================================*/
service-theme-color = cd-winered
header-color = service-theme-color
footer-background = service-theme-color

/*==========================================================
All Module Styles
==========================================================*/
@import '../allmodules/allstyles.styl'

/*==========================================================
lightgallery styles
==========================================================*/
@import "../../../node_modules/lightgallery/css/lightgallery-bundle.css"

/*==========================================================
Specific Style Overwrites
==========================================================*/
#menu-link-impressionen
    font-weight bold
    color service-theme-color !important

#banner-image-row
    background-image url("/img/impressionen.jpg")
    background-position: top !important

#footer
    span.warning
        color #7f8f8f !important

.callmeandmailme
    a
        background-color: alpha(cd-winered, 0.05) !important

/*==========================================================
Component Styles
==========================================================*/
@import 'components/styles.styl'
