.max-content
    video#video-frame(src="/video/freie_trauung_appetizer_1080p_optimized.mp4" loop autoplay muted controls)
    //- video#video-frame(src="/video/smaller.mp4" loop autoplay muted controls)