extends ../../serviceofferlistingmodule/serviceofferlisting.pug
block listing
    p Ein kostenloses und unverbindliches Erstgespräch.
    
    p Ein ausführliches Gespräch als Vorbereitung für die freie Taufe (besprochen wird hier: der Ablauf der Willkommensfeier, der Inhalt der Taufrede, die Bedeutung des Namens Ihres Kindes, Gedichte, Wünsche und Rituale).

    p Telefonische Beratung und Emailverkehr rund um offene Fragen zur freien Taufe.

    p Das Verfassen der Taufrede.

    p Die Gestaltung der Willkommensfeier.

    p Die Vorbereitung von Gedichten, Ritualen oder Wünschen für die Gäste.

    p Mitnahme von Mikrophon und Lautsprecher, sofern dieses Equipment nicht vor Ort sein sollte.
