extends ../../serviceofferlistingmodule/serviceofferlisting.pug
block listing
    p Ein kostenloses und unverbindliches Erstgespräch.
    
    p Ein ausführliches Gespräch als Vorbereitung für die Willkommensfeier (besprochen wird hier: der Ablauf der Willkommensfeier, der Inhalt der Willkommensrede, die Bedeutung des Namens Eures Kindes, Gedichte, Wünsche und Rituale).

    p Die telefonische Beratung und der E-Mail-Verkehr rund um offene Fragen zur Willkommensfeier.

    p Das Verfassen der Willkommensrede.

    p Die Gestaltung der Willkommensfeier.

    p Die Vorbereitung von Gedichten, Ritualen oder Wünschen für die Gäste.

    p Die Mitnahme von Mikrofon/Headset und Lautsprecher, sofern dieses Equipment nicht vor Ort sein sollte.
