extends ../../servicedescriptionmodule/servicedescription.pug
block intro-text
    h2#intro-text Manches fängt klein an, manches groß, aber manchmal ist das Kleinste das Größte!
block description
    include description.pug
block side-info
    include side-info.pug
block audio-source
    source(src="/audio/willkommensrede.m4a" type="audio/mp4")
