/*==========================================================
RESET
==========================================================*/
@import '../stylereset/reset.styl'

/*=========================================================
Global styles
==========================================================*/
@import '../globalstyle/global.styl'

/*==========================================================
Specific Variable Definitions
==========================================================*/
service-theme-color = cd-hellgrau
header-color = service-theme-color
footer-background = service-theme-color

decoration-sun-url = url("/img/decoration-sun-blue.svg")

/*=========================================================
All Module Styles
=========================================================*/
@import '../allmodules/allstyles.styl'

/*==========================================================
Specific Style Overwrites
==========================================================*/
#menu-link-trauer
    font-weight bold
    color service-theme-color !important

#banner-image-row
    background-image: url("/img/trauer.jpg")

audio::-webkit-media-controls-panel
    background-color: alpha(service-theme-color,0.4)

/*==========================================================
Component Styles
==========================================================*/
@import 'components/expectations/styles.styl'

// #contact-block
//     .warning
//         color #999