h2 Liebes Hochzeitspaar!<br> Vorerst möchte ich Euch zu Eurer Verlobung gratulieren. Vielleicht seid ihr auch bereits standesamtlich verheiratet und plant anstelle einer kirchlichen Zeremonie eine freie und sehr persönliche Trauung. Oder ihr wünscht Euch eine rein symbolische Trauung an einem besonderen Ort?

p.description-line Ich begleite Euch an jeden Ort in Österreich und zu Eurer freien Trauung im Ausland.
p.description-line Ob am Strand mit dem rauschenden Meer im Hintergrund, im naturbelassenen Wald, auf einem imposanten Berg, an einem malerischen See, oder in romantischen Räumlichkeiten - ich komme zu jeder Zeit, zu jedem von Euch gewünschten Ort und gestalte Eure freie Trauung. Sie wird ganz frei, ohne zwingende Vorgaben und Euren Wünschen entsprechend geplant. In meiner persönliche Traurede ist Eure individuelle Liebesgeschichte das Highlight.<br>
p.description-line Meldet Euch zu einem kostenlosen und unverbindlichen Online-Erstgespräch oder ruft mich an. So können wir uns persönlich kennenlernen und ihr bekommt einen ersten Eindruck von mir und meiner Arbeitsweise. Solltet ihr Euch danach für mich als Eure Hochzeitsrednerin entscheiden, so wäre nach einem ausführlichen zweiten Gespräch mein nächster Schritt das Erstellen Eurer individuellen Rede und die Planung Eurer freien Trauung.
p.description-line Am Tag der freien Trauung halte ich die mit Euch persönlich geplante Zeremonie (inkl. Traurede, Rituale, Wünsche der Gäste) ab.<br>Als Andenken an diesen besonderen Anlass überreiche ich Euch eine handgeschöpfe Trauurkunde mit Siegel.

h2 Ein paar Tipps für Eure freie Trauung

p.description-line Wenn die Planung Eurer Hochzeit beginnt, prasseln unzählige Inspirationen und Informationen auf Euch ein.<br>Plötzlich zeigt Euch der Social-Media-Algorithmus nur noch Hochzeitscontent, und überall begegnen Euch Bilder von traumhaften Trauungen in der Toskana, in Istrien oder auf Mallorca. Alles wirkt perfekt inszeniert – und kann schnell überwältigend werden.

p.description-line Darum möchte ich Euch eines mit auf den Weg geben: <br>Bleibt bei Euch.<br>Bleibt authentisch und gestaltet Eure Hochzeit so, wie sie sich für Euch richtig anfühlt.

p.description-line Erstellt vielleicht eine kleine „Hochzeits-Rangliste“:<br>Was ist Euch wirklich wichtig?<br>Die freie Trauung selbst? Eine ganz persönliche Rede? Eine individuelle Zeremonie – oder fühlt sich vielleicht auch eine kurze, standesamtliche Trauung genau richtig an?

p.description-line Ihr müsst keinen Trends folgen, keine perfekte Pinterest-Hochzeit feiern.<br> Heiratet so, wie Ihr es möchtet. Denn das ist Euer Tag.

p.description-line Ob Ihr in Italien, Kroatien oder ganz gemütlich daheim in Österreich feiert – es wird perfekt sein. Einfach, weil Ihr auf Euer Herz und Euer Bauchgefühl gehört habt.
    svg#loveyou-heart: use(href="#svg-heart-icon")