extends ../../servicedescriptionmodule/servicedescription.pug
block intro-text
    h2#intro-text Liebe ist, jemanden so zu lieben wie er ist.
block description
    include description.pug
block side-info
    include side-info.pug
block audio-source
    source(src="/audio/trauungsrede.m4a" type="audio/mp4")
block offer-heading 
    h1 Eure Freie Trauung