h2 Dauer Eurer freien Trauung:
p Eine freie Trauung dauert in der Regel ca. 45 Minuten. Die Länge der freien Trauung hängt insbesondere davon ab, ob auch Lieder, Rituale oder Wünsche von Gästen Teil Eurer freien Trauung sein sollen.
.separator-sun
h2 Erneuerung Eheversprechen:
p Ihr möchtet Euch erneut das Ja-Wort geben? Die Erneuerung des Eheversprechens ist ein symbolischer Akt, der kein Standesamt erfordert. Bei der Planung Eurer Zeremonie sind Euch daher keine Grenzen gesetzt. Als freie Rednerin begleite ich Euch sehr gerne bei der Wiederholung einer der schönsten Tage Eures Lebens mit einer herzlichen und persönlichen Rede, die berührt und zu Euch passt. Gerne erkläre ich Euch im Rahmen eines unverbindlichen Online-Erstgesprächs die unterschiedlichen Gestaltungsmöglichkeiten dieser besonderen Feier.