extends card-base.pug

block review-body 
    | Die liebe Sonja hat eine unglaublich schöne und emotionale Rede auf dem Willkommensfest unserer Tochter gehalten. Da wir noch nie mit Willkommensfesten in Berührung gekommen sind, war ich unglaublich froh, dass Sonja gemeinsam mit uns die gesamte Zeremonie gestaltet hat. Sie hat uns verschiedene Rituale vorgestellt, uns gezeigt, was möglich ist und sich perfekt mit unserer Sängerin abgestimmt. Mit Sonja‘s Unterstützung hatten wir ein wunderschönes Willkommensfest für unsere Tochter, welches uns für immer in Erinnerung bleiben wird und wir freuen uns schon so auf den Tag, an dem wir unserer Maus das erste Mal die Rede vorlesen können, wenn sie groß genug ist und alles verstehen kann. All unsere Gäste haben von Sonja und unserem Fest geschwärmt, welches so viel persönlicher und emotionaler als eine traditionelle kirchliche Taufe war. Wir würden es immer wieder so machen und wir hätten uns keine bessere Rednerin als Sonja vorstellen können, da sie unglaublich sympathisch, offenherzig und engagiert ist! Man merkt wirklich sofort, dass Sonja mit ganzem Herzen dabei ist! 🥰Liebe Sonja, wir danken dir nochmals von Herzen für die wunderschönen Worte, die du für uns niedergeschrieben hast und für deine großartige Unterstützung! Wir freuen uns schon sehr auf ein Wiedersehen! ❤️

block name
    | Lisa-Marie H.
