extends card-base.pug

block review-body 
    | Als ich eine Trauerrednerin oder einen Trauerredner für das Begräbnis meines Vaters gesucht habe, war ich sehr kritisch. Ich wusste,ich will eine Person, die er auch gemocht hätte. Die sympathisch und humorvoll ist und doch für so einen traurigen Anlass die richtigen Worte findet. Nach einer längeren Suche bin ich dann auf Sonja gestoßen und habe schnell gemerkt, dass bei uns die Chemie stimmt. Wir hatten schnell eine gemeinsame Idee, wie die Trauerfeier ablaufen sollte. Mit vielen Anekdoten über meinen Vater, aber nicht zu düster. Wir wollten sein Leben feiern - anstatt nur seinen Tod zu betrauern. Aus der Fülle an Informationen, die Sonja von mir bekommen hat, hat sie eine berührende Rede geschrieben. Zudem hat sie mich in den Vorbereitungen noch auf weitere Ideen für die Trauerfeier gebracht und war immer erreichbar und hilfsbereit. Sie hat mich in meiner Trauer abgeholt und empathisch und liebevoll begleitet. Genau so eine Person möchte man in dieser Situation an seiner Seite wissen. Nach dem Begräbnis haben mich viele der weiteren Trauernden auf Sonja und ihre Rede angesprochen. Und so mancher hat auch gleich nach ihrer Homepage gefragt. Kurz gesagt: Ich kann Sonja wärmstens weiterempfehlen und bin sehr glücklich, sie für Papas Trauerfeier gefunden zu haben.

block name
    | Carina Poschned 

