extends card-base.pug

block review-body 
    | Mein Mann und ich haben uns ziemlich schnell gegen eine traditionelle Standesamttrauung entschieden und sind letztes Jahr auf freie Trauungen und dann ganz durch Zufall auf ein Video von Sonja auf Instagram gestoßen.Ich war sofort begeistert und musste auch nicht lange meinen Mann überzeugen. Das erste Telefonat war schon so sympathisch, dass man dort schon glaubte mit einer Freundin zu quatschen die man schon lange nicht gesehen hat. Die vollkommene Bestätigung der Sympathie und des Wohlfühlens mit Sonja als Person hatten wir dann bei unserem persönlichen Kennenlernen bzw. 4 stündigen Gespräch! Es war noch nie so einfach, jemanden eine so persönliche Geschichte zu erzählen und das obwohl sie uns vollkommen fremd war. Das Vertrauen war von Sekunde 1 da!Nach dem Gespräch wussten wir, dass die Trauung schön werden wird. Wir schön sie wirklich geworden ist kann man gar nicht in Worte fassen. Von jedem einzelnen Hochzeitsgast wurde uns mitgeteilt, dass das die schönste Trauung war, an der sie je teilnehmen durften. Die Rede von Sonja glich einer Emotionalen Achterbahnfahrt auf die wirklich jeder mitgenommen wurde und bei der niemand ein trockenes Auge hatte!Wir können sie von ganzem Herzen empfehlen und würden sie jeden Tag und zu jedem Preis wieder engagieren. Ihre Rede war das Herzstück unserer ganzen Hochzeitsfeier und wird uns für immer in Erinnerung bleiben.Wir sind uns auch schon einig, dass wir Sonja sehr gerne als Teil einer Willkommensfeier für unser hoffentlich zukünftiges Kind hätten.

block name
    | Maria Prisching
