extends card-base.pug 
block review-body
    | Ich habe bei der lieben Sonja ein 1:1 Mini Mentoring gebucht, um meine Traureden zu verbessern. Ich konnte wirklich alles fragen und Sonja hat mir jede meiner Fragen ausführlichst beantwortet und mir einen transparenten Einblick in Ihre Arbeit gegeben. Durch die 1:1 Betreuung konnten wir gezielt an meinen Problemen arbeiten und ich habe neue Techniken und Herangehensweisen für das Schreiben meiner Rede gelernt. Das Mentoring hat alle meine Erwartungen erfüllt! Sonja zeichnet vor allem ihre Kompetenz, ihre jahrelange Erfahrung und ihre absolute Herzlichkeit aus. Das Mentoring war dadurch nicht nur ausgesprochen hilfreich, sondern hat auch sehr viel Spaß gemacht und die Zeit verging wie im Flug. Ich kann Sonja als Mentorin von Herzen empfehlen!

block name 
    | Laura Beyfuß