extends card-base.pug

block review-body 
    | Als wir uns für eine freie Trauung entschieden haben, wussten wir noch nicht wirklich, was auf uns zukommen wird. Nachdem wir Sonja kennengelernt hatten, war uns sofort klar, dass wir unsere Traurednerin gefunden haben☺️ Sie hat sich beim persönlichen Gespräch sehr lange für uns Zeit genommen. Danach hatten wir so ein gutes Gefühl und waren uns sicher, dass wir uns zu 100% auf sie verlassen können. Genau so war es dann auch: Mit ihrer positiven Ausstrahlung, ihrer angenehmen Stimme und den wunderschönen Worten hat sie unsere Gäste und uns verzaubert✨ Ihre Rede hat nicht nur zu Tränen gerührt, sondern auch alle zum Lachen gebracht. Genau so haben wir uns das vorgestellt 🥰Liebe Sonja, deine Rede war das absolute Highlight unserer Hochzeit und wird uns für immer in Erinnerung bleiben. Vielen lieben Dank! ❤️ Teresa & Dominic'

block name
    | Dominic Morocutti
