#testimonials-frame.inner-content
    //- a#review-link(href="https://search.google.com/local/reviews?placeid=ChIJOS9lrZZLbkcRty41C3OJy8c" target="_blank") Zu meinen Reviews >
    .cards
        include card0.pug
        include card1.pug
        include card2.pug
        include card3.pug
        include card4.pug
        include card5.pug
