extends ../../serviceofferlistingmodule/serviceofferlisting.pug
block listing
    p Ein kostenloses und unverbindliches Erstgespräch.
    
    p Ein ausführliches Gespräch als Vorbereitung für die freie Trauung (Ablauf der freien Trauung, Inhalt der Traurede, Vorbereitung zusätzlicher Texte:<br> Eheversprechen/Gedichte/Wünsche/Rituale).

    p Die telefonische Beratung und E-Mail-Verkehr rund um offene Fragen zu Ihrer freien Trauung.

    p Das Verfassen Ihrer Traurede.

    p Die Gestaltung Ihrer Zeremonie.

    p Die Vorbereitung von Gedichten, Ritualen oder Wünschen für die Gäste.

    p Die Mitnahme von Mikrofon/Headset und Lautsprecher, sofern dieses Equipment nicht vor Ort sein sollte.
