extends ../../serviceofferlistingmodule/serviceofferlisting.pug
block listing
    p Ein kostenloses und unverbindliches Erstgespräch.
    
    p Ein ausführliches Gespräch als Vorbereitung für die freie Trauung (Ablauf der freien Trauung, Inhalt der Trauungsrede, Vorbereitung zusätzlicher Texte: Eheversprechen/Gedichte/Wünsche/Rituale).

    p Telefonische Beratung und Emailverkehr rund um offene Fragen zu Ihrer freien Trauung.

    p Die Gestaltung Ihrer Trauungszeremonie.

    p Die Vorbereitung von Gedichten, Ritualen oder Wünschen für die Gäste.

    p Mitnahme von Mikrophon und Lautsprecher, sofern dieses Equipment nicht vor Ort sein sollte.
