extends ../../servicedescriptionmodule/servicedescription.pug
block intro-text
    h2#intro-text Liebe ist, wenn zwei Herzen zu einer Seele verschmelzen!
block description
    include description.pug
block side-info
    include side-info.pug
