/*==============================================================================
RESET
==============================================================================*/
@import '../stylereset/reset.styl'

/*==============================================================================
Global styles
==============================================================================*/
@import '../globalstyle/global.styl'

header-color = cd-hellgrau
footer-background = cd-sand
/*==============================================================================
Including other components
==============================================================================*/
@import '../allmodules/allstyles.styl'

#menu-link-kontakt
    font-weight bold
    color cd-sand !important

#banner-image-row
    background-image url("/img/kontakt.jpg")
