/*==============================================================================
RESET
==============================================================================*/
@import '../stylereset/reset.styl'

/*==============================================================================
Global styles
==============================================================================*/
@import '../globalstyle/global.styl'

header-color = cd-hellgrau

/*==============================================================================
Including other components
==============================================================================*/
@import '../allmodules/allstyles.styl'

#menu-link-kontakt
    font-weight bold
#banner-image-row
    background-image url("img/sample-icon.png")
