extends ../../../serviceexpectationmodule/expectationofcosts.pug
block title 
    h1 Kosten der Trauerfeier
block cards
    include ../../../mailphoneactioncallmodule/callmeandmailme.pug

    p Jedes Leben und jeder Mensch ist einzigartig. Jede freie Trauerfeier wird genau so, wie ihr es möchtet gestaltet. Die Kosten einer freien Trauerfeier ergeben sich daher aus einem individuellen Angebot, das auf Eure Vorstellungen und Wünsche zugeschnitten wird.

    p Bitte meldet Euch daher bei mir und ich übermittle Euch sehr gerne ein Angebot.
    
    //- p Generell wird die Zeit verrechnet, die aufgewendet wird. Dabei lege ich besondern Wert darauf, auf die Lebensgeschichte des Verstorbenen genau einzugehen also das Basismaterial für die Rede zu sammeln um daraus eine würdige Rede zu verfassen. Alles Zusamen mit dem Abhalten der Abschiedszeremonie können wir im Allgemeinen mit ca. 15-30h rechnen. (1500 - 3000€)




    //- #trauer-cost-option-all
    //-     include cost-option-all.pug
    //- #trauer-cost-option-speach
    //-     include cost-option-speach.pug
//- block hint
//-     p * exkl. Fahrtkosten pro km a € 0,80