
extends ../../../serviceexpectationmodule/expectationofday.pug
block content
    h2 Am Tag der Trauerfeier:
    p - Die Abhaltung der geplanten Trauerrede,<br> - Die Führung und Gestaltung der Trauerfeier, die Abhaltung der persönlichen Trauerrede sowie die Vollziehung der geplanten Rituale.
