/*==========================================================
RESET
==========================================================*/
@import '../stylereset/reset.styl'

/*=========================================================
Global Styles
==========================================================*/
@import '../globalstyle/global.styl'

/*=========================================================
Specific Variable Definitions
==========================================================*/
service-theme-color = cd-sand
header-color = service-theme-color
footer-background = service-theme-color

decoration-sun-url = url("/img/decoration-sun-sand.svg")

/*=========================================================
All Module Styles
=========================================================*/
@import '../allmodules/allstyles.styl'

/*=========================================================
Specific Style Overwrites
=========================================================*/
#menu-link-willkommensfest
    font-weight bold
    color cd-sand !important

#banner-image-row
    background-image: url("/img/willkommensfeier.jpg")
    background-position-y: 45%

audio::-webkit-media-controls-panel
    background-color: service-theme-color

/*=========================================================
Component Styles
=========================================================*/
@import 'components/expectations/styles.styl'