extends ../../headermodule/header.pug
block page-quote
    //- h1.page-quote Freie Rednerin<br> aus Herz mit Seele
    h1.page-quote Freie Trauungen, Kinderwillkommensfeste & freie Trauerfeiern aus Herz mit Seele
