//- h2 Freie Trauung

p Jedes Paar hat individuelle Vorstellungen für ihren großen Tag und daher ist auch mein Angebot exklusiv und ganz auf Eure Bedürfnisse zugeschnitten. 
p Bitte <a href="tel:+436643282007">meldet Euch</a> daher mit Euren Vorstellungen und Wünschen und ich übermittle Euch sehr gerne ein individuelles Angebot.

p Verrechnet wird nach Zeit, die aufgewendet wird. Dabei lege ich besondern Wert darauf, mich in Eurere Situation und Geschichte zu versetzen um die Rede persönlich und berührend zu gestalten. Alles Zusamen mit dem Abhalten der freien Trauung können wir mit ca. 15-30h rechnen. (1500 - 3000€)


//- p Preis auf Anfrage 
//- p € 1.500,-
//-,<br> exkl. Fahrtkosten pro km a € 0,80.
//- p Aufgrund der Individualität einer <br>freien Trauung, richtet sich der <br>Paketpreis nach Ihren Wünschen <br>und Vorstellungen.

//- p Ich freue mich auf Eure Kontaktaufnahme

//- .cost-duration ca. 40 Minuten

