
extends ../../../serviceexpectationmodule/expectationofday.pug
block content
    h2 Am Tag der freien Trauung:
    p - Die Abhaltung der geplanten Zeremonie und Traurede. <br> - Die Abnahme des Eheversprechens und/oder des Ringtauschs.<br> - Die Vollziehung der geplanten Rituale.<br> - Die Aushändigung Eurer persönlichen Trauurkunde mit Siegel.