extends ../../../serviceexpectationmodule/expectationofcosts.pug
block title 
    h1 Kosten der freien Trauung
block cards
    #trauung-cost-card
        include costs.pug
//- block hint
//-     p * exkl. Fahrtkosten pro km a € 0,80