extends ../../../serviceexpectationmodule/expectationofcosts.pug
block cards
    #mentoring-costs-just-for-you
        include costs-just-for-you.pug
    #mentoring-costs-willkommensfeier
        include costs-willkommensfeier.pug
    #mentoring-costs-trauung
        include costs-trauung.pug
    
block hint
    p * exkl. Fahrtkosten pro km a € 0,80