//- servicedescription structure
.inner-content
    block intro-text
#servicedescription
    #servicedescription-content.max-content
        #servicedescription-description
            block description
        #servicedescription-side-info
            block side-info
            #audio-presentation
                h1 Hörprobe
                //- button#audio-control-button
                audio#audio-element(controls)
                    block audio-source
#service-call-to-action
    include ../mailphoneactioncallmodule/callmeandmailme.pug
#more-info-banner
    .inner-content
        block offer-heading
        //- h1 Mehr Informationen zu meinem Angebot
        //- Eure Freie Trauung im Detail 
        //- Eure Willkommensfeier im Detail
        //- Eure ...
        #more-info-down-button: svg: use(href="#svg-down-arrow-icon")