//- servicedescription structure
block intro-text
#servicedescription
    #servicedescription-content
        #servicedescription-description
            block description
        #servicedescription-side-info
            block side-info
#more-info-banner 
    h1 Mehr Informationen zu meinem Angebot
    #more-info-down-icon