//- servicedescription structure
.inner-content
    block intro-text
#servicedescription
    #servicedescription-content.max-content
        #servicedescription-description
            block description
        #servicedescription-side-info
            block side-info
#more-info-banner
    .inner-content
        h1 Mehr Informationen zu meinem Angebot
        #more-info-down-button