// servicedescription styles
/*==========================================================
Variables to tweak the style
==========================================================*/
intro-text-spacing = 30px

more-info-banner-top-gap = 10px
more-info-banner-spacing-top = 40px
more-info-banner-spacing-bottom = 30px
more-info-banner-background = service-theme-color
// service-theme-color should be defined in sources/source/<pageName/<pageName>.styl

servicedescription-spacing = 40px

description-line-gap = 15px
description-to-separator-gap = 60px
separator-to-side-info-gap = 40px

audio-control-button-size = 40px
minimal-audio-presentation-space-top = 40px

more-info-icon-gap = 20px
more-info-icon-size = 18px

max-width-for-column = 750px

description-separator-color = cd-anthrazit
description-separator-width = 2px

description-separator-size = 20px
description-separator-spacings = 40px
/*==========================================================
Serious Stuff
==========================================================*/
#intro-text
    @extends .cd-title
    text-align center
    font-weight: bold
    margin-top intro-text-spacing
    margin-bottom intro-text-spacing
    // font-family: "DMSerif"
    font-family: "NotoSerif"
    letter-spacing: normal

#servicedescription
    background-color alpha(service-theme-color, 0.1)
    width 100%
    padding servicedescription-spacing 0
    margin-bottom 10px
    #servicedescription-content
        display grid
        grid-template-columns: 7fr 4fr

    #servicedescription-description
        padding-right: description-to-separator-gap
        border-right: solid description-separator-width description-separator-color
        h2
            @extends .cd-text 
            font-weight bold
            font-style italic
            text-align justify
        p
            @extends .cd-text 
            text-align justify

        .description-line
            margin-top description-line-gap

    #servicedescription-side-info
        display flex
        justify-content: center
        flex-direction column
        margin-left: separator-to-side-info-gap
        h2
            @extends .cd-text
            font-weight bold
            text-align center
            margin-bottom 5px
        p
            @extends .cd-text 
            text-align center
        .separator-sun
            background-image url("/img/decoration-sun-freietrauung.svg")
            background-size contain
            background-position center
            width description-separator-size
            height description-separator-size
            margin description-separator-spacings auto

    #audio-presentation
        margin-top auto
        padding-top minimal-audio-presentation-space-top
        text-align: center
        h1
            @extends .cd-text
            font-weight bold
            text-align center
            text-transform: uppercase
            margin-bottom 5px
    #audio-control-button
        padding 0
        margin 0
        height: audio-control-button-size
        width: audio-control-button-size
        background-size: contain
        background-repeat: no-repeat
        background-position: center
        cursor: pointer

    @media screen and (max-width: max-width-for-column)
        #servicedescription-content
            grid-template-columns: auto
        #servicedescription-description
            padding-right: 0
            border-right: none
            padding-bottom: description-to-separator-gap
            border-bottom: solid description-separator-width description-separator-color
            h2
                text-align center
            p
                text-align center

        #servicedescription-side-info
            display block
            margin-left: 0
            margin-top: separator-to-side-info-gap

#service-call-to-action
    margin-top 42px
    margin-bottom 42px
    
#more-info-banner
    margin-top more-info-banner-top-gap
    padding-top more-info-banner-spacing-top
    padding-bottom more-info-banner-spacing-bottom
    background-color more-info-banner-background
    h2
        @extends .cd-title
        // font-family: "DMSerif"
        font-family: "NotoSerif"
        color white
        font-weight bold
        text-align center
        text-transform: uppercase
        letter-spacing: normal
    // #more-info-down-button
    //     cursor: pointer
    //     background-image url("/img/arrow-white.svg")
    //     transform: rotate(180deg)
    //     background-size: contain
    //     background-position: center
    //     margin auto
    //     margin-top more-info-icon-gap
    //     width more-info-icon-size
    //     height more-info-icon-size

    #more-info-down-button
        cursor: pointer
        transform: rotate(180deg)
        margin auto
        margin-top more-info-icon-gap
        width more-info-icon-size
        height more-info-icon-size
        color white
        svg
            height inherit
            width inherit