#welcoming-intro-content.inner-content    
    p#instagram-paragraph: a(href="https://www.instagram.com/herzmitseele.freierede/" target="_blank") Für weitere Impressionen und Inspirationen folgt mir gerne auf Instagram.
    
    a(href="https://www.instagram.com/herzmitseele.freierede/" target="_blank"): img#welcoming-image(src="/img/avatar_new.jpg" alt="Bild von Sonja Louven während sie lächelnd eine Traurede vorträgt.")


