#welcoming-intro-content.inner-content
    h2 Herzlich Willkommen auf meiner Website!
    p Mein Name ist Sonja Louven. Ich bin Rednerin für freie Trauungen, freie Taufen und Trauerfeiern und möchte Euch und Eure Gäste mit Worten, die bewegen, bei Eurer ganz persönlichen und individuellen Zeremonie berühren.
    
    p: a(href="https://www.instagram.com/herzmitseele.freierede/" target="_blank") Für Impressionen und Inspirationen folgt mir gerne auf Instagram.
    
    //- a(href="https://www.instagram.com/herzmitseele.freierede/" target="_blank"): img#welcoming-image(src="/img/avatar-home-square.webp" alt="Bild von Sonja Louven während sie lächelnd eine Traurede vorträgt.")

    a(href="https://www.instagram.com/herzmitseele.freierede/" target="_blank"): img#welcoming-image(src="/img/avatar-home.webp" alt="Bild von Sonja Louven während sie lächelnd eine Traurede vorträgt.")
