//welcoming styles
/*=====================================================
Variables to tweak the style 
=====================================================*/
welcoming-text-color = cd-altrosa

welcoming-text-to-signature-gap = 10px
welcoming-spacing-bottom = 30px

/*=====================================================
The Serious Stuff
=====================================================*/
#welcoming-text
    color welcoming-text-color
    max-width inner-content-width
    text-align: center
    margin auto
    margin-bottom welcoming-text-to-signature-gap

.welcoming-signature
    color black
    width 100%
    text-align: center
    margin-bottom welcoming-spacing-bottom
