//welcoming styles
/*=====================================================
Variables to tweak the style 
=====================================================*/
welcoming-spacing-top = 60px
welcoming-outro-to-signature-gap = 20px
welcoming-spacing-bottom = 40px

/*=====================================================
The Serious Stuff
=====================================================*/
#welcoming-intro-content
    margin-top welcoming-spacing-top
    line-height 170%
    h1
        @extends .cd-alone-text
        font-size: 12pt
        text-transform: none
        font-weight bold
        text-align center
        // letter-spacing: 2.5pt
        margin-bottom 7px
    h2
        text-align: center
        margin-bottom 33px
    p
        @extends .cd-alone-text
        font-size: 12pt
        text-align center
        max-width: 600px
        margin auto
        letter-spacing 1.8pt
        margin-bottom 20px

    #instagram-paragraph
        margin-top 70px

    // #welcoming-image
    //     border-radius 50%
    //     width 300px
    //     height 300px
    //     box-sizing: border-box
    //     // border-radius 50px
    //     // max-height 330px
    //     // max-width calc(100% - 30px)
    //     margin auto
    //     margin-top 60px
    //     display block
    //     // border solid 3px cd-hellgrau
    //     // box-shadow: 0px 0px 6px cd-winered
    //     // border solid 4px cd-winered
    //     box-shadow: 0px 0px 6px service-theme-color
    //     border solid 4px service-theme-color
    //     object-fit: cover
    //     transition: box-shadow 0.3s


    #welcoming-image
        border-radius 150px 150px 3px 3px
        width 300px
        height 480px
        box-sizing: border-box
        // border-radius 50px
        // max-height 330px
        // max-width calc(100% - 30px)
        margin auto
        margin-top 60px
        display block
        // border solid 3px cd-hellgrau
        // box-shadow: 0px 0px 6px cd-winered
        // border solid 4px cd-winered
        // box-shadow: 0px 0px 6px service-theme-color
        // border solid 4px service-theme-color
        // box-shadow: 0px 2px 4px service-theme-color
        object-fit: cover
        transition: box-shadow 0.3s


    // #welcoming-image:hover
    //     // transform: scale(1.1)
    //     // filter: contrast(110%)
    //     // border solid 6px cd-winered
    //     box-shadow: 0px 2px 7px service-theme-color
        
    a
        font-weight: bold
        text-decoration: underline


#welcoming-outro-content
    margin-top welcoming-spacing-top
    p
        @extends .cd-alone-text
        font-size: 12pt
        text-align center
        letter-spacing 1.8pt
    p.welcoming-signature
        font-size 12pt
        letter-spacing 2pt
        margin-top welcoming-outro-to-signature-gap
        text-align: center
        margin-bottom welcoming-spacing-bottom

    a
        font-weight: bold
        text-decoration: underline

@media screen and (max-width: 350px)
    #welcoming-intro-content
        #welcoming-image
            border-radius 120px 120px 0 0
            width 240px
            height 360px