#top-block.max-content
    #top-block-left
        video#video-frame(src="/video/herzmitseele_imagefilm.mp4" loop autoplay muted controls)
        //- video#video-frame(src="/video/smaller.mp4" loop autoplay muted controls)
    #top-block-right
        h2 Herzlich Willkommen!
        p Mein Name ist Sonja Louven und ich freue mich sehr, dass ihr hier seid. Als Rednerin für freie Trauungen, Willkommensfeste und Trauerfeiern begleite ich Euch in den wichtigsten Momenten des Lebens – sei es Euer Hochzeitstag, eine Willkommensfeier für Euer kleines Wunder, oder der Abschied von einem geliebten Menschen im Rahmen einer persönlichen Trauerfeier.
        
        p Was mir dabei besonders am Herzen liegt? Authentizität und Individualität.<br>Jede Geschichte, jedes Leben, ist einzigartig und genau diese Einzigartigkeit möchte ich in meinen Reden zum Leben erwecken. Für mich ist es ein Privileg Eure Geschichten in Worte zu fassen – sei es für den schönsten Tag in Eurem Leben, oder dem Moment des Abschiednehmens.

        p Während Graz und die Steiermark meine Heimat ist, reise ich gerne an die speziellen Orte Eures Events. Destination Wedding ist der Trend für Eure Hochzeit mit Euren Gästen, ganz entkoppelt vom Alltag, gemeinsam an wunderschöne Orte zu reisen um sich 100% den Feierlichkeiten hingeben zu können.