//- h2 Willkommensfeier
//- h3 Für die oben angeführten Leistungen

include ../../../mailphoneactioncallmodule/callmeandmailme.pug

p Als Eltern Eures kleinen Wunders habt ihr individuelle Vorstellungen für Eure Willkommensfeier und daher ist auch mein Angebot exklusiv und ganz auf Eure Bedürfnisse zugeschnitten. 

p Bitte meldet Euch daher mit Euren Vorstellungen und Wünschen und ich übermittle Euch sehr gerne ein individuelles Angebot

//-  p Generell wird nach Zeit verrechnet. Dabel lege ich besondern Wert darauf Eure Erwartungen und Ideen bestmöglich in der Rede zu transportieren. Im Allgemeinen können wir mit ca. 10-20h rechnen. (1000 - 2000€)



//- p € 750,- pauschal

//- .cost-duration ca. 30 Minuten

