h1 Trauungsrede
h2 Für die oben angeführten Leistungen

p DEUTSCH: <br> €580,- (inkl. MwSt)<br> Fahrtkosten bis 50 km - Abfahrt Graz <br> (jeder weitere km/€0,42)

p ENGLISCH/SLOWENISCH: <br> €680,- (inkl. MwSt)<br> Fahrtkosten bis 50 km - Abfahrt Graz <br> (jeder weitere km/€0,42)

.cost-duration 40 bis 50 Minuten

