
extends ../../../serviceexpectationmodule/expectationofday.pug
block content
    h1 Am Tag der freien Trauung:
    p - Die Abhaltung der geplanten Zeremonie und Traurede. Sofern gewünscht: Die Abnahme des Eheversprechens und/oder des Ringtauschs.<br> - Die Vollziehung der geplanten Rituale.<br> - Die Aushändigung Ihrer persönlichen Trauurkunde mit Siegel.