
extends ../../../serviceexpectationmodule/expectationofday.pug
block content
    h1 Am Tag der freien Trauung:
    p - Abhalten der geplanten Zeremonie und Trauungsrede. Sofern gewünscht: Abnahme des Eheversprechens und/oder des Ringtauschs.<br> - Vollziehung der geplanten Rituale. <br> - Gratulation und Aushändigung Ihrer persönlichen Trauungsurkunde mit Siegel.