//serviceexpectation section styles
/*=====================================================
Variables to tweak the style 
=====================================================*/
card-subtitle-color = cd-anthrazit
card-subtitle-bottom-gap = 20px

cost-expecation-card-additiona-title-gap = 20px

/*=====================================================
Serious Stuff 
=====================================================*/
#expectation-cost-cards
    padding-top cost-expecation-card-additiona-title-gap
    h2
        color card-subtitle-color
        height auto
        max-width 260px
        margin-bottom card-subtitle-bottom-gap